#gdpr_cookie .gdpr_background {
  width: 100%;
  transform: translateY(100%);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999999;
  transition: 0.3s;
  background: #333333e8;
  color: #000000f2;
}
#gdpr_cookie .gdpr_background .gdpr_adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
#gdpr_cookie .gdpr_background .gdpr_block {
  width: 50%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
#gdpr_cookie .gdpr_background .gdpr_block .gdpr_text {
  font-size: 12px;
  margin: 0;
  line-height: 2em;
  letter-spacing: 0.4px;
  width: 100%;
  display: inline-block;
  color: #fff;
}
#gdpr_cookie .gdpr_background .gdpr_block .gdpr_text a {
  text-decoration: underline;
}
#gdpr_cookie .gdpr_background .gdpr_block .gdpr_button {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background: #fff;
  color: #000;
  cursor: pointer;
}
#gdpr_cookie .gdpr_background .gdpr_cross {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#gdpr_cookie .gdpr_background .gdpr_cross:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background: #878787;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
#gdpr_cookie .gdpr_background .gdpr_cross:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background: #878787;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}
@media screen and (max-width: 1440px) {
  #gdpr_cookie .gdpr_background .gdpr_block {
    width: 70%;
  }
}
@media screen and (max-width: 1080px) {
  #gdpr_cookie .gdpr_background .gdpr_block {
    width: 92%;
  }
}
@media screen and (max-width: 768px) {
  #gdpr_cookie .gdpr_background .gdpr_adjust {
    padding: 15px 20px 22px;
  }
  #gdpr_cookie .gdpr_background .gdpr_block {
    width: 100%;
    flex-direction: column;
  }
  #gdpr_cookie .gdpr_background .gdpr_cross {
    top: 22px;
  }
}
@media screen and (max-width: 540px) {
  #gdpr_cookie .gdpr_background .gdpr_block {
    gap: 18px;
  }
  #gdpr_cookie .gdpr_background .gdpr_block .gdpr_text {
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
  #gdpr_cookie .gdpr_background .gdpr_block .gdpr_text {
    font-size: 12px;
  }
}
