@import "../setting/config.scss";

/*
  footer
---------------------------------------------- */
footer{
  background: #2e2c33;
  color: #ffffff;
  height: 265px;
  position: relative;
  overflow: hidden;
  @include mq(){
    height: auto;
  }
  &::before{
    content: "";
    background: url(#{$imgDir}footer01.png) no-repeat top right /contain;
    position: absolute;
    width: 100%;
    max-width: 457px;
    height: 216px;
    z-index: 1;
    top: 0;
    right: 0;
    @include mq(){
      background: url(#{$imgDir}footer01-sp.png) no-repeat top right /contain;
      width: 240px;
    }
  }
  .footer{
    display: flex;
    justify-content: space-between;
    padding: 60px 50px 0 40px;
    max-width: none;
    @include mq(){
      padding: 27px 20px 0;
    }
    > div{
      position: relative;
      z-index: 2;
    }
    &-contents{
      display: flex;
      @include mq(){
        flex-direction: column;
      }
    }
    &-image{
      margin-right: 90px;
      @include mq(lg){
        margin-right: 30px;
      }
      @include mq(){
        margin-bottom: 40px;
        width: calc(155/478 *100%);
      }
    }
    &-info{
      line-height: 2;
      @include fz(13);
      @include mq(){
        @include fz(10);
        line-height: 2.1;
      }
    }
    &-address{
      padding-bottom: 30px;
      @include mq(){
        padding-bottom: 20px;
      }
    }
    &-copy{
      @include fz(11);
      @include mq(){
        padding-bottom: 40px;
        @include fz(10);
      }
    }
    &-link{
      position: absolute;
      top: 60px;
      right: 70px;
      z-index: 2;
      font-size: 0.8125rem;
      @include mq(lg){right: 40px;}
      @include mq(){
        top: 24px;
        right: 20px;
        // width: 100%;
      }
      div:nth-of-type(1) {
        margin-bottom: 6px;
        @include mq(md){
          margin-bottom: 1px;
        }
        a:nth-of-type(1) {
          margin-right: 28px;
          position: relative;
          &:before{
            content: "|";
            position: absolute;
            top: 2px;
            right: -16px;
            font-size: 10px;
            font-size: 0.625rem;
          }
          img {
            margin-right: 8px;
            vertical-align: middle;
            width: 12px;
          }
        }
      }
      div:nth-of-type(2) {
        text-align: right;
        a:nth-of-type(1) {
          margin-right: 28px;
          position: relative;
          &:before{
            content: "|";
            position: absolute;
            top: 2px;
            right: -16px;
            font-size: 10px;
            font-size: 0.625rem;
          }
        }
      }
      // ul{
      //   display: flex;
      //   align-items: center;
      //   justify-content: flex-end;
      //   margin-right: 70px;
      //   @include mq(){
      //     position: absolute;
      //     top: 0;
      //     right: 0;
      //     white-space: nowrap;
      //     margin-right: 20px;
      //   }
      //   li{
      //     @include fz(13);
      //     &:first-of-type{
      //       margin-right: 28px;
      //       position: relative;
      //       @include mq(){
      //         margin-right: 24px;
      //       }
      //       &::before{
      //         content: "|";
      //         position: absolute;
      //         top: 2px;
      //         right: -16px;
      //         @include fz(10);
      //         @include mq(){
      //           right: -14px;
      //           line-height: 1.1;
      //         }
      //       }
      //     }
      //     a{transition: .3s ease;}
      //     @include mq(pc){
      //       a:hover{
      //         opacity: 0.7;
      //       }
      //     }
      //     @include mq(){
      //       @include fz(11);
      //     }
      //   }
      // }
    }
  }
}