@import "../setting/config.scss";

/*
  header
---------------------------------------------- */
header.header-top{
  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 40;
    .menu-open-btn{
      position: relative;
      width: 70px;
      height: 70px;
      background: $c-p;
      cursor: pointer;
      @include mq(){
        width: 45px;
        height: 45px;
      }
      span{
        position: absolute;
        width: 36px;
        height: 3px;
        background: $c-w;
        display: block;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        transition: .16s ease-in;
        @include mq(){
          width: 25px;
          height: 2px;
        }
        &:nth-of-type(2){
          top: 65%;
        }
        &:nth-of-type(3){
          top: 35%;
        }
      }
      &.active{
        span{
          width: 28px;
          @include mq(){width: 18px;}
          &:nth-of-type(1){
            top: 50%;
            transform:translate(-50%, -50%) scale(0);
          }
          &:nth-of-type(2){
            top: 50%;
            transform:translate(-50%, -50%) rotate(135deg);
          }
          &:nth-of-type(3){
            top: 50%;
            transform:translate(-50%, -50%) rotate(-135deg);
          }
        }
      }
    }
  }
  .menu-bg{
    position: fixed;
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 20;
    transition: .5s ease-in-out;
    &.active{
      opacity: 0.4;
      pointer-events: visible;
      cursor: pointer;
    }
  }
  .header-logo{display: none;}
  nav{
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin-left: auto;
    padding: 90px 20px 70px 0;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    background: $c-w;
    transform: translateX(100%);
    transition: .3s ease-in-out;
    @include mq(){
      width: 72%;
      padding: 60px 15px 70px 0;
    }
    @include mq(xs){
      width: 85%;
    }
    ul{
      li{
        margin-left: 50px;
        transform: translateX(200px);
        opacity: 0;
        @include mq(){
          margin-left: 18px;
          transform: translateX(100px);
        }
        &:nth-of-type(1){transition: .5s ease .0s;}
        &:nth-of-type(2){transition: .5s ease .06s;}
        &:nth-of-type(3){transition: .5s ease .12s;}
        &:nth-of-type(4){transition: .5s ease .18s;}
        &:nth-of-type(5){transition: .5s ease .24s;}
        &:nth-of-type(6){transition: .5s ease .3s;}
        a{
          font-family: 'Work Sans', 'Hiragino Kaku Gothic Pro', sans-serif;
          font-weight: 700;
          @include fz(70);
          line-height: 1.257;
          padding-left: 50px;
          display: block;
          position: relative;
          overflow: hidden;
          @include mq(){
            @include fz(37);
            padding-left: 25px;
            line-height: 1.5;
          }
          &::before{
            position: absolute;
            content: attr(data-content);
            top: 0;
            left: 0;
            color: $c-p;
            overflow: hidden;
            transition: width .5s cubic-bezier(0.545, 0.080, 0.520, 0.975);
            width: 0;
            padding-left: 50px;
          }
          span{
            font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
            font-weight: 400;
            @include fz(12);
            margin-left: 20px;
            color: #4c4c4c;
            transition: .5s cubic-bezier(0.545, 0.080, 0.520, 0.975);
            @include mq(){
              @include fz(9);
              margin-left: 10px;
            }
          }
          @include mq(pc){
            &:hover{
              &::before{width: 100%;}
              span{color: $c-p;}
            }
          }
        }
        &.current{
          position: relative;
          a{
            color: $c-p;
            span{color: $c-b;}
          }
          &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 24px;
            height: 8px;
            background: $c-p;
            @include mq(){
              width: 12px;
              height: 4px;
            }
          }
        }
      }
    }
    .sp{
      @include mq(pc){display: none;}
      display: flex;
      margin-top: 30px;
      li{
        a{
          @include fz(14);
          white-space: nowrap;
        }
        &:nth-of-type(1){
          position: relative;
          margin-right: 20px;
          &::before{
            content: "|";
            position: absolute;
            top: 2px;
            right: -12px;
            @include fz(10);
          }
        }
        &:nth-of-type(2){
          margin: 0;
          a{
            padding: 0;
          }
        }
      }
      
    }
    &.active{
      display: block;
      transform: translateX(0);
      overflow-y: scroll;
      ul li{
        transform: translateX(0);
        opacity: 1;
      }
      .nav-link{
        transform: translateX(0);
        opacity: 1;
        transition: .5s ease .0s;
        div:nth-of-type(1){
          a:nth-of-type(1){
            transform: translateX(0);
            opacity: 1;
            transition: 1s ease 0s;
    
          }
          a:nth-of-type(2){
            transform: translateX(0);
            opacity: 1;
            transition: 2s ease 0s;
    
          }
        }
        div:nth-of-type(2){
          a:nth-of-type(1){
            transform: translateX(0);
            opacity: 1;
            transition: 3s ease 0s;
    
          }
        }
      }
    }
    .nav-logo{display: none;}
    .nav-link{
      display: none;
      @include mq(md){
        display: block;
        transform: translateX(200px);
        opacity: 1;
        transition: .5s ease .0s;
        font-size: 0.875rem;
        // font-family: 'Work Sans', 'Hiragino Kaku Gothic Pro', sans-serif;
        font-weight: 700;
        padding-left: 100px;
        margin-top: 30px;
        @include mq(md){
          padding-left: 43px;
        }
        div:nth-of-type(1) {
          margin-bottom: 6px;
          a:nth-of-type(1) {
            margin-right: 28px;
            position: relative;
            &:before{
              content: "|";
              position: absolute;
              top: 2px;
              right: -16px;
              font-size: 10px;
              font-size: 0.625rem;
            }

            transform: translateX(200px);
            opacity: 0;
            transition: 1s ease 0s;
      
            img {
              margin-right: 8px;
              vertical-align: middle;
              width: 12px;
            }
          }
          a:nth-of-type(2){
            transform: translateX(200px);
            opacity: 0;
            transition: 2s ease 0s;

          }
        }
        div:nth-of-type(2){
          a:nth-of-type(1){
            transform: translateX(200px);
            opacity: 0;
            transition: 3s ease 0s;
          }
        }
      }
    }
  }
}

header.header{
  display: flex;
  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 40;
    display: none;
    @include mq(){
      display: block;
    }
    .menu-open-btn{
      position: relative;
      width: 70px;
      height: 70px;
      background: $c-p;
      cursor: pointer;
      @include mq(){
        width: 45px;
        height: 45px;
      }
      span{
        position: absolute;
        width: 36px;
        height: 2px;
        background: $c-w;
        display: block;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        transition: .16s ease-in;
        @include mq(){
          width: 25px;
          height: 2px;
        }
        &:nth-of-type(2){
          top: 65%;
        }
        &:nth-of-type(3){
          top: 35%;
        }
      }
      &.active{
        span{
          width: 28px;
          @include mq(){width: 18px;}
          &:nth-of-type(1){
            top: 50%;
            transform:translate(-50%, -50%) scale(0);
          }
          &:nth-of-type(2){
            top: 50%;
            transform:translate(-50%, -50%) rotate(135deg);
          }
          &:nth-of-type(3){
            top: 50%;
            transform:translate(-50%, -50%) rotate(-135deg);
          }
        }
      }
    }
  }
  .menu-bg{
    position: fixed;
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 20;
    transition: .5s ease-in-out;
    display: none;
    @include mq(){
      display: block;
    }
    &.active{
      opacity: 0.4;
      pointer-events: visible;
      cursor: pointer;
    }
  }
  .header-logo{
    position: relative;
    margin-top: 30px;
    padding-left: 40px;
    display: none;
    @include mq(){
      display: block;
      margin-top: 10px;
      padding-left: 10px;
    }
    @include mq(pc){
      z-index: 31;
    }

    a{
      display: inline-block;
      transition: .5s cubic-bezier(0.545, 0.080, 0.520, 0.975);
      @include mq(pc){
        &:hover{
          opacity: 0.7;
        }      
      }
      img{
        @include mq(){
          max-width: 50%;
        }
      }
    }
  }
  nav{
    position: fixed;
    max-width: none;
    width: 100%;
    height: auto;
    padding: 0 40px;
    top: 30px;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    @include mq(){
      width: 72%;
      padding: 60px 15px 70px 0;
      display: block;
      height: 100%;
      max-width: 650px;
      margin-left: auto;
      z-index: 30;
      top: 0;
      right: -100%;
      background: $c-w;
      transition: .3s ease-in-out;
    }
    @include mq(xs){
      width: 85%;
    }
    ul{
      display: flex;
      justify-content: flex-end;
      @include mq(){
        display: block;
      }
      li{
        margin-left: 50px;
        @include mq(lg){margin-left: 30px;}
        @include mq(){
          margin-left: 18px;
          transform: translateX(100px);
          opacity: 0;
          &:nth-of-type(1){transition: .5s ease.0s;}
          &:nth-of-type(2){transition: .5s ease .06s;}
          &:nth-of-type(3){transition: .5s ease .12s;}
          &:nth-of-type(4){transition: .5s ease .18s;}
          &:nth-of-type(5){transition: .5s ease .24s;}
          &:nth-of-type(6){transition: .5s ease .3s;}
        }
        a{
          @include fz(16);
          padding: 0;
          transition: .6s cubic-bezier(0.36, 0.1, 0.16, 1);
          font-family: 'Work Sans', 'Hiragino Kaku Gothic Pro', sans-serif;
          font-weight: 700;
          line-height: 1.257;
          display: block;
          position: relative;
          overflow: hidden;
          @media all and (-ms-high-contrast: none) {transition: 0s;}
          @include mq(){
            @include fz(37);
            padding-left: 25px;
            line-height: 1.5;
          }
          &::before{
            position: absolute;
            content: none;
            @include mq(){
              content: attr(data-content);
              top: 0;
              left: 0;
              color: $c-p;
              overflow: hidden;
              transition: width .5s cubic-bezier(0.545, 0.080, 0.520, 0.975);
              width: 0;
              padding-left: 50px;
            }
          }
          span{
            display: none;
            @include mq(){
              font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
              font-weight: 400;
              margin-left: 20px;
              color: #4c4c4c;
              transition: .5s cubic-bezier(0.545, 0.080, 0.520, 0.975);
              display: inline-block;
              @include fz(9);
              margin-left: 10px;
            }
          }
          @include mq(pc){
            &:hover{
              &::before{content: none;}
              color: $c-p;
            }
          }
        }
        &.current{
          position: relative;
          pointer-events: all;
          a{
            color: $c-b;
            @include mq(){
              color: $c-p;
              span{color: $c-b;}
            }
            @include mq(pc){
              &:hover{
                &::before{content: none;}
                color: $c-p;
              }
            }
          }
          &::before{
            content: none;
            position: absolute;
            @include mq(){
              content: "";
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 24px;
              height: 8px;
              background: $c-p;
              width: 12px;
              height: 4px;
            }
          }
        }
      }
    }
    &.hide{
      animation: navHide .6s cubic-bezier(0.36, 0.1, 0.16, 1) forwards;
      @include mq(){
        animation: none;
      }
    }
    &.show{
      animation: navShow .6s cubic-bezier(0.36, 0.1, 0.16, 1) forwards  ;
      @include mq(){
        animation: none;
      }
    }
    .sp{
      display: none;
      @include mq(){
        display: flex;
        margin-top: 30px;
        justify-content: flex-start;
        li{
          a{
            @include fz(14);
            white-space: nowrap;
          }
          &:nth-of-type(1){
            position: relative;
            margin-right: 20px;
            &::before{
              content: "|";
              position: absolute;
              top: 2px;
              right: -12px;
              @include fz(10);
            }
          }
          &:nth-of-type(2){
            margin: 0;
            a{
              padding: 0;
            }
          }
        }
      }
    }
    &.active{
      @include mq(){
        display: block;
        right: 0;
        overflow-y: scroll;
        ul li{
          transform: translateX(0);
          opacity: 1;
        }
      }
      .nav-link{
        transform: translateX(0);
        opacity: 1;
        transition: .5s ease .0s;
        div:nth-of-type(1){
          a:nth-of-type(1){
            transform: translateX(0);
            opacity: 1;
            transition: 1s ease 0s;
    
          }
          a:nth-of-type(2){
            transform: translateX(0);
            opacity: 1;
            transition: 2s ease 0s;
    
          }
        }
        div:nth-of-type(2){
          a:nth-of-type(1){
            transform: translateX(0);
            opacity: 1;
            transition: 3s ease 0s;
    
          }
        }
      }
    }
    .nav-logo{
      display: block;
      a{
        display: inline-block;
        transition: .5s cubic-bezier(.36, .1, .16, 1);
        @include mq(pc){
          &:hover{
            opacity: 0.7;
          }      
        }
      }
      @include mq(){
        display: none;
      }
    }
    .nav-link{
      display: none;
      @include mq(md){
        display: block;
        transform: translateX(200px);
        opacity: 1;
        transition: .5s ease .0s;
        font-size: 0.875rem;
        // font-family: 'Work Sans', 'Hiragino Kaku Gothic Pro', sans-serif;
        font-weight: 700;
        padding-left: 100px;
        margin-top: 30px;
        @include mq(md){
          padding-left: 43px;
        }
        div:nth-of-type(1) {
          margin-bottom: 6px;
          a:nth-of-type(1) {
            margin-right: 28px;
            position: relative;
            &:before{
              content: "|";
              position: absolute;
              top: 2px;
              right: -16px;
              font-size: 10px;
              font-size: 0.625rem;
            }

            transform: translateX(200px);
            opacity: 0;
            transition: 1s ease 0s;
      
            img {
              margin-right: 8px;
              vertical-align: middle;
              width: 12px;
            }
          }
          a:nth-of-type(2){
            transform: translateX(200px);
            opacity: 0;
            transition: 2s ease 0s;

          }
        }
        div:nth-of-type(2){
          a:nth-of-type(1){
            transform: translateX(200px);
            opacity: 0;
            transition: 3s ease 0s;
          }
        }
      }
    }
  }
}