@import "../setting/config.scss";

/*
  lead-buttons
---------------------------------------------- */
.lead-buttons {
  font-weight: 700;
  line-height: 1.5;
  @include fz(18);
  margin: 0 auto;
  padding:0;

  margin: 80px -500%;
  padding: 0 500%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-g-l;
  @include mq() {
    @include fz(11);
    height: 50px;
    margin: 30px -500% 50px;
  }
  @include mq(xs) {
    @include fz(10);
  }
  &.js-anime{
    div{
      opacity: 0;
      transform: translateY(30px);
      transition: .9s cubic-bezier(.36, .1, .16, 1);
      &:nth-of-type(2){transition-delay: .1s;}
      &:nth-of-type(3){transition-delay: .2s;}
    }
    &.on{
      div{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  }
  .lead-button-wp {
    display: flex;
    justify-content: space-evenly;
    a {
      .lead-link {
        position: relative;
        align-items: center;
        display: flex;
        justify-content: space-between;
        transition:.6s cubic-bezier(.36, .1, .16, 1);
        &::after {
          position: absolute;
          top: 50%;
          right: -20px;
          content: '';
          border-bottom: solid 2px $c-b;
          border-right: solid 2px $c-b;
          transform: translateY(-50%) rotate(45deg);
          width: 7px;
          height: 7px;
          @include mq(){
            right: -15px;
            width: 5px;
            height: 5px;
            border-bottom: solid 1px $c-b;
            border-right: solid 1px $c-b;
          }
        }
      }
      @include mq(pc){
        &:hover{
          .lead-link{
            color: $c-s;
            &::after{
              border-bottom: solid 2px $c-s;
              border-right: solid 2px $c-s;
              animation: arrowDwn .4s linear forwards;
            }
          }
        }
      }
    }
    &:first-of-type {
      margin-right: 85px;
      margin-left: -85px;
      padding-left: 50px;
      @include mq() {
          margin-right: 40px;
          margin-left: -40px;
          padding-left: 0px;
      }
    }
  } 