@import "../setting/config.scss";

/*
  link　ページ下にある四角いリンクボックス
---------------------------------------------- */
.link{
  padding-top: 130px;
  margin-bottom: 120px;
  @include mq(){
    padding-top: 50px;
    margin-bottom: 50px;
  }
  &-list{
    display: flex;
    justify-content: space-between;
    @include mq(){
      flex-direction: column;
      align-items: center;
    }
  }
  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #d6d6d6;
    max-width: 520px;
    width: 100%;
    text-align: center;
    &:first-of-type{
      margin-right: 60px;
    }
    @include mq(){
      max-width: 335px;
      &:first-of-type{
        margin-right: 0;
        margin-bottom: 29px;
      }
    }
    dl{
      padding: 32px 30px 25px;
      width: 100%;
      @include mq(){
        padding: 27px 18px 22px;
      }
      dt{
        font-family: $fw;
        color: $c-s;
        @include fz(60);
        font-weight: 700;
        line-height: 1.333;
        padding-bottom: 15px;
        @include mq(){
          @include fz(40);
          line-height: 1;
          padding-bottom: 24px
        }
      }
      dd{
        @include fz(15);
        line-height: 1.8;
        @include mq(){
          @include fz(14);
          line-height: 1.535;
        }
      }
    }
    &.js-anime{
      transform: translateY(30px);
      opacity: 0;
      transition: .9s cubic-bezier(.36, .1, .16, 1);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-btn{
    margin-top: auto;
    padding-bottom: 42px;
    @include mq(){
      padding-bottom: 22px;
    }
  }
  &.single{
    .link-list{
      justify-content: center;
      .link-item:first-of-type {
          margin-right: 0px;
          margin-bottom: 0;
      }
    }
  }
  .inner-1100{
    @include mq(){
      padding: 0 20px;
    }
  }
}