@import "../setting/config.scss";

/*
  service-icons
---------------------------------------------- */
ul.service-icons{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  @include mq(){
    padding: 0 37px;
    margin-bottom: 37px;
    justify-content: space-between;
  }
  li{
    &:nth-of-type(1),
    &:nth-of-type(2){
      width: 36%;
      margin-bottom: 30px;
      @include mq(xl){width: 50%;}
      @include mq(){
          width: 38%;
          margin-bottom: 30px;
      }
    }
    &:nth-of-type(1){margin-left:auto;}
    &:nth-of-type(2){margin-right:auto;}
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5){
      width: 33.333%;
      margin-right:auto;
      @include mq(xl){width: 50%;}
      @include mq(){
          width: 38%;
          margin-bottom: 30px;
      }
      @include mq(sm){width: 48%;}
    }
    @include mq(xl){
      &:nth-of-type(3){
          margin-left:auto;
          margin-right: 0;
      }
      &:nth-of-type(5){
          margin: 0 auto 0;
      }
    @include mq(sm){
      &:nth-of-type(1),
      &:nth-of-type(2){width: 48%;}
      &:nth-of-type(1),
      &:nth-of-type(3){
          margin-right:auto;
          margin-left:0;
      }
      &:nth-of-type(2),
      &:nth-of-type(4){
          margin-left:auto;
          margin-right:0;
      }
    }
    }   
    a{
      display: block;
      @include mq(pc){
        &:hover{
          dl{
            dt{animation: popping .5s cubic-bezier(0.545, 0.080, 0.520, 0.975) forwards;}
            dd:last-of-type{color: $c-g;}
          }
        }
      }
    }
    dl{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        dt{
            margin-bottom: 14px;
            height: 68px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq(){
                margin-bottom: 4px;
                height: 60px;
                img{
                    max-width: 85%;
                }
            }
        }
        dd{
            transition: .4s cubic-bezier(0.545, 0.080, 0.520, 0.975);
            white-space: nowrap;
            &:first-of-type{
                margin-top: auto;
                color: $c-base;
                font-family: $fw;
                font-weight: 600;
                letter-spacing: 0;
                @include fz(14);
                padding-bottom: 5px;
                @include mq(){
                    @include fz(13);
                }
            }
            &:last-of-type{
                @include fz(13);
                letter-spacing: 0.08em;
                line-height: 1;
                position: relative;
                @include mq(){
                    @include fz(11);
                }
                &::before{
                    content: "";
                    background: url(#{$imgDir}arrow01.png) no-repeat center center /contain;
                    display: inline-block;
                    position: absolute;
                    top:55%;
                    right: -15px;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 9px;
                }
            }
        }
    }
    &.js-anime-loop{
      transform: scale(1.08);
      opacity: 0;
      transition: .3s cubic-bezier(.36, .1, .16, 1);
      &:nth-of-type(2),
      &:nth-of-type(4)
          {transition-delay: .3s;}
      &:nth-of-type(5){transition-delay: .6s;}
      @include mq(xl){
          &:nth-of-type(5){transition-delay: 0s;}
      }
      &.on{
          transform: scale(1);
          opacity: 1;
      }
    }
  }
}