@import "../setting/config.scss";

/*
  works-list
---------------------------------------------- */
.works-list{
  display: flex;
  flex-wrap: wrap;
  @include mq(){
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  li{
    margin: 0 35px 50px 0;
    &:nth-child(3n){
      margin: 0;
      @include mq(){
          margin: 0 auto 30px;
      }
    }
    @include mq(){
      width: 100%;
      min-width: 100%;
      margin: 0 auto 30px;
      text-align: center;
      max-width: 364px;
    }
    a{
      display: block;
      > div,dl{
        transition: .2s ease;
          @include mq(){
            transition: 0;
          }
        }
      > div{
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        padding-top: 57.6%;
        margin-bottom: 12px;
        @include mq(){
          margin-bottom: 10px;
        }
        img{
            width: 100%;
            min-width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            font-family: 'object-fit: cover;'; /*IE対策*/
            background-size: cover !important;
        }
      }
      
      dl{
        letter-spacing: 0.08em;
        dt{
          padding-bottom: 3px;
        }
        dd{
            @include fz(11);
            color: $c-g;
            font-weight: 300;
        }
        @include mq(){
            text-align: left;
        }
      }
      @include mq(pc){
        &:hover{
          > dl dt{
              color: $c-base;
          }
          > div{
              transform: scale(1.03);
          }
        }
      }
    }
    &.js-anime{
      opacity: 0; 
      &.on{
        animation: worksList .6s forwards cubic-bezier(.36, .1, .16, 1);
        &:nth-of-type(2),
        &:nth-of-type(5)
          {animation: worksList .6s .3s forwards cubic-bezier(.36, .1, .16, 1);}
        &:nth-of-type(3),
        &:nth-of-type(6)
          {animation: worksList .6s .6s forwards cubic-bezier(.36, .1, .16, 1);}
        @include mq(){
          &:nth-of-type(2),
          &:nth-of-type(5),
          &:nth-of-type(3),
          &:nth-of-type(6){
            animation: worksList .6s forwards cubic-bezier(.36, .1, .16, 1);
          }
        }
      }
    }
  }
}