@import "../setting/config.scss";

/*
  button
---------------------------------------------- */
.button-wp{
  color: $c-s;
  font-family: $fw;
  @include fz(18);
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 50px;
  padding: 11px 28px 13px 32px;
  display: inline-block;
  text-align: left;
  min-width: 160px;
  line-height: 1;
  position: relative;
  transition: .3s cubic-bezier(.36, .1, .16, 1);
  z-index: 1;
  overflow: hidden;
  @include mq(){
    @include fz(14);
    min-width: 200px;
    padding: 12px 20px 12px 40px;
  }
  span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after{
      content:  '';
      width: 7px;
      height: 7px;
      border-top: solid 2px $c-s;
      border-right: solid 2px $c-s;
      transform: rotate(45deg);
      transition: .3s cubic-bezier(.36, .1, .16, 1);
      margin-bottom: -1px;
    }
  }
  &::before,
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    // background: $c-w;
    border: solid 2px $c-s;
    // box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .3s cubic-bezier(.36, .1, .16, 1);
    z-index: -2;
  }
  &::before{
    background: $c-s;
    transform: translateX(-110%);
    z-index: -1;
  }

  &.js-anime-loop{
    transform: scale(1.1);
    opacity: 0;
    transition: .4s cubic-bezier(0.545, 0.080, 0.520, 0.975);
    &.on{
      transform: scale(1);
      opacity: 1;
    }
  }
  @include mq(pc){
    &:hover{
      color: $c-w;
      span{
        &::after{
          border-top: solid 2px $c-w;
          border-right: solid 2px $c-w;
        }
      }
      &:after{
        opacity: 1;
      }
      &:before{
        opacity: 1;
        transform:  translateX(0%);
      }
    }
  }
  &.ex-link{
    font-family: $fn;
    @include fz(15);
    letter-spacing: 0.08em;
    font-weight: 400;
    color: $c-w;
    min-width: 220px;
    padding: 13px 32px 14px 36px;
    @include mq(){
      @include fz(14);
      min-width: 200px;
      padding: 12px 20px 13px 40px;
    }
    span{
      &::after{
        content:  '';
        width: 10px;
        height: 9px;
        border-top: none;
        border-right: none;
        transform: rotate(0deg);
        margin-bottom: 0px;
        background: url(#{$imgDir}icon-link02.png) no-repeat center right / 10px 9px;
      }
    }
    &::before,
    &::after{
      border: solid 2px $c-w;
    }
    @include mq(pc){
    &:hover{
      color: $c-s;
      span{
        &::after{
          background: url(#{$imgDir}icon-link01.png) no-repeat center right / 10px 9px;
        }
      }
      &::before{
        border: none;
        background: $c-w;
      }
    }
  }
  &.purple{
    color: $c-s;
    span{
      &::after{
        background: url(#{$imgDir}icon-link01.png) no-repeat center right / 10px 9px;
      }
    }
    &::before,
    &::after{
      border: solid 2px $c-s;
    }
    @include mq(pc){
      &:hover{
        color: $c-w;
        span{
          &::after{
            background: url(#{$imgDir}icon-link02.png) no-repeat center right / 10px 9px;
          }
        }
        &::before{
          border: none;
          background: $c-s;
        }
      }
    }
  }
  }
}