@import "../setting/config.scss";

/*
  button
---------------------------------------------- */
.button-wpl{
  color: $c-s;
  font-family: $fw;
  @include fz(22);
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 50px;
  padding: 13px 28px 14px 32px;
  display: inline-block;
  text-align: left;
  min-width: 240px;
  line-height: 1;
  position: relative;
  transition: .3s cubic-bezier(.36, .1, .16, 1);
  z-index: 1;
  overflow: hidden;
  span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::before,
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: solid 2px $c-s;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .3s cubic-bezier(.36, .1, .16, 1);
    z-index: -2;
  }
  &::before{
    background: $c-s;
    transform: translateX(-110%);
    z-index: -1;
  }

  &.js-anime-loop{
    transform: scale(1.1);
    opacity: 0;
    transition: .4s cubic-bezier(0.545, 0.080, 0.520, 0.975);
    &.on{
      transform: scale(1);
      opacity: 1;
    }
  }
  @include mq(pc){
    &:hover{
      color: $c-w;
      &:after{
        opacity: 1;
      }
      &:before{
        opacity: 1;
        transform:  translateX(0%);
      }
    }
  }
}