@import "../setting/config.scss";

/*
  button
---------------------------------------------- */
.button-sd{
  color: $c-w;
  font-family: $fw;
  @include fz(22);
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 50px;
  padding: 11px 20px 13px 20px;
  display: inline-block;
  text-align: center;
  min-width: 240px;
  line-height: 1;
  position: relative;
  transition: .3s cubic-bezier(.36, .1, .16, 1);
  z-index: 1;
  overflow: hidden;
  &::before,
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(100,75,209,1) 25%, rgba(141,83,196,1) 75%);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .3s cubic-bezier(.36, .1, .16, 1);
    z-index: -2;
  }
  &:before{
    background: #ee1770;
    transform: translateX(-110%);
    z-index: -1;
  }
  &.js-anime-loop,&.js-anime{
    transform: scale(1.1);
    opacity: 0;
    transition: .4s cubic-bezier(0.545, 0.080, 0.520, 0.975);
    &.on{
      transform: scale(1);
      opacity: 1;
    }
  }
  @include mq(pc){
  &:hover{
      background-position: 0 100%;
      &:after{
        opacity: 1;
        transform: scale(1.02);
      }
      &:before{
        opacity: 1;
        transform: scale(1.02);
        transform: translateX(0%) scale(1.02);
      }
    }
  }
  &.glay{
    &::after{
      background: #ababab;
    }
    &::before{
      background: $c-s;
    }
  }
}