@import "../setting/config.scss";
@import "../layout/animation";

/*
  load animation
---------------------------------------------- */
.load{
  width: 100vw;
  height: 100vh;
  transition: 1s cubic-bezier(.36, .1, .16, 1);
  background: $c-w;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  &.loaded{
    opacity: 0;
    visibility: hidden;
  }
  &-spinner {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    animation: sk-rotate 1.4s infinite linear;
  }
  &-dot1, 
  &-dot2,
  &-dot3{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    background: $c-base;
    border-radius: 100%;
    animation: sk-bounce 1.2s infinite cubic-bezier(.36, .1, .16, 1);
    transform: scale(0);
  }
  &-dot2 {
    top: auto;
    bottom: 0;
    animation-delay: .6s;
    background: $c-p;
    
  }
  &-dot3 {
    top: 50%;
    right: 10%;
    animation-delay: 1.2s;
    background: #e78721;
  }
}