@import "../setting/config.scss";

/*
  multi-title
---------------------------------------------- */
.multi-title{
  margin-bottom: 50px;
  h1,h2{
    font-family: $fw;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    @include fz(86);
    color: $c-b;
    margin-bottom: 20px;
    overflow: hidden;
    @include mq(){
      @include fz(50);
      margin-bottom: 15px;
    }
    span{display: inline-block;transform: translateY(120%);}
  }
  p{
    letter-spacing: 0;
    line-height: 1;
    @include fz(13);
    color: $c-b;
    margin-left: 33px;
    position: relative;
    backface-visibility:hidden;
    @include mq(){
      margin-left: 30px;
      @include fz(14);
    }
    &:before{
      content: "";
      width: 16px;
      height: 2px;
      background: $c-b;
      position: absolute;
      top: 5px;
      left: -30px;
      @include mq(){
        left: -30px;
        top: 7px;
      }
    }
  }
  &.js-anime,&.js-anime-loop{
    p{
      opacity: 0;
    }
    &.on{
      p{
        animation: multiTtlP 1s .6s cubic-bezier(.36, .1, .16, 1) forwards;
      }
      span{
        animation: multiTtl .6s cubic-bezier(.36, .1, .16, 1) forwards;
        &:nth-of-type(2){animation: multiTtl .7s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(3){animation: multiTtl .8s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(4){animation: multiTtl .9s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(5){animation: multiTtl 1s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(6){animation: multiTtl 1.1s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(7){animation: multiTtl 1.2s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(8){animation: multiTtl 1.3s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(9){animation: multiTtl 1.4s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(10){animation: multiTtl 1.5s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(11){animation: multiTtl 1.6s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(12){animation: multiTtl 1.7s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(13){animation: multiTtl 1.8s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(14){animation: multiTtl 1.9s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(15){animation: multiTtl 2s cubic-bezier(.36, .1, .16, 1) forwards;}
      }
    }
  }
}