@import "../setting/config.scss";

/*
  link
---------------------------------------------- */
#page-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	z-index: 20;

  width: 76px;
  height: 76px;
  >div{
    position: relative;
    width: 100%;
    height: 100%;

    background: $c-s;
    border-radius: 50%;
    transition: .3s ease;
    &::after{
      content:  '';
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 55%;
      width: 17px;
      height: 17px;
      border-top: solid 2px $c-w;
      border-right: solid 2px $c-w;
      transform: rotate(-45deg) translate(-50%, -50%);
      transition: .3s cubic-bezier(.36, .1, .16, 1);
      margin-bottom: -1px;
      z-index: 21;
    }
  }
  @include mq(pc){
    &:hover{
      div{
        background: $c-p;
      }
    }
  }
  @include mq(){
		width: 50px;
		height: 50px;
		right: 18px;
		top: auto;
		bottom: 20px;
    >div{
      &::after{
        top: 44%;
        width: 12px;
        height: 12px;
      }
    }
  }
}