@import "../setting/config.scss";

/*
  link
---------------------------------------------- */
.text-link{
  color: #666666;
  text-decoration: underline;
  transition:.3s cubic-bezier(.36, .1, .16, 1);
  @include mq(pc){
    &:hover{
      opacity: 0.7;
    }
  }
  &.black{
    color: $c-b;
  }
}