
//media query
$breakpoints: (
  'xs': 'screen and (max-width:360px)',
  'ss': 'screen and (max-width:400px)',
  'sm': 'screen and (max-width:500px)',
  'md': 'screen and (max-width:767px)',
  'mdl': 'screen and (max-width:781px)',
  'lg': 'screen and (max-width:950px)',
  'xl': 'screen and (max-width:1050px)',
  'll': 'screen and (max-width:1104px)',
  'xll': 'screen and (max-width:1170px)',
  'xxl': 'screen and (max-width:1800px)',
  'pc': 'screen and (min-width:768px)',
) !default;
@mixin mq($breakpoint: md){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

//画像格納ディレクトリ
$imgDir: 'images/';

//color
$c-base: #5a3c98;
// $c-sub: #72B232;
$c-g: #7d7d7d;
$c-g-l: #efefef;
$c-b: #000;
$c-w: #fff;
$c-p: #ee1770;
$c-s: #614bc2;

//font-size
@mixin fz($size: 15) {
    font-size: $size + px;
    font-size: ($size / 16) + rem;
}

//font-family
$fn: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
$fw: 'Work Sans', 'Hiragino Kaku Gothic Pro', sans-serif;