@import "../setting/config.scss";
@import "../base/fonts";

/*
  base
---------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  @include fz();
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: $c-b;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include mq(){
    @include fz(14);
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: 700;
}
input,
textarea {
  font-family: inherit;
  font-size: 100%;
}
input, button, textarea, select {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
//for IE
select::-ms-expand {display: none;}
textarea{overflow: auto;}

// input type="number" 矢印削除
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
input[type="number"] { 
  -moz-appearance:textfield; 
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #eae3f6 inset;
}
p{
  @include fz(15);
  letter-spacing: 0.04em;
  line-height: 2;
  @include mq(){
    @include fz(14);
  }
}
ul,ol{
  list-style: none;
}
.wrapper{
  overflow: hidden;
}
.inner{
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
  @include mq(){
    padding: 0 30px;
  }
}
.inner-1300{
  max-width: 1300px;
  margin: 0 auto;
}
.inner-1500{
  max-width: 1500px;
  margin: 0 auto;
}
.inner-1620{
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 50px;
  @include mq(){
    padding: 0 20px;
  }
}

.inner-1100{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 60px;
  @include mq(){
    padding: 0 30px;
  }
}

.pc{
  display: block;
}
.sp{
  display: none;
}
@include mq(){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }
}