@import "../setting/config.scss";


/*
  error
---------------------------------------------- */
.error{
margin-top: 150px;
@include mq(){margin-top: 0;}
.inner-1100{
  @include mq(){
    padding: 0 20px;
  }
}
.lead{
  margin-bottom: 65px;
  @include mq(){
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .multi-title{
    h1{
      color: $c-s;
      span{
        &:nth-of-type(5){animation: multiTtl .6s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(6){animation: multiTtl .7s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(7){animation: multiTtl .8s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(8){animation: multiTtl .9s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(9){animation: multiTtl 1s cubic-bezier(.36, .1, .16, 1) forwards;}
      }
    }
    @include mq(){
      margin-bottom: 40px;
    }
  }
}

.main{
  padding: 0 0 120px;
  @include mq(){
    padding: 0 0 80px;
  }
  &-image{
  // &-text dt,
  // &-text dd{
    &.js-anime{
      opacity: 0;
      transition: .9s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-text dt,
  &-text dd{
    &.js-anime{
      opacity: 0;
      transition: 1s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(10px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
  &-contents{
    max-width: 700px;
    margin: 0 auto;
  }
  &-image{
    margin-bottom: 35px;
    @include mq(){
      margin-bottom: 20px;
    }
  }
  &-text{
    text-align: center;
    padding-bottom: 50px;
    @include mq(){
      padding-bottom: 30px;
    }
    dt{
      @include fz(22);
      font-weight: 800;
      line-height: 1.227;
      color: $c-s;
      padding-bottom: 20px;
      @include mq(){
        @include fz(20);
        line-height: 1.5;
        padding-bottom: 15px;
      }
    }
    dd{
      line-height: 2.1333;
      @include mq(){
        line-height: 1.8;
      }
    }
  }
  &-btn-home{
    display: flex;
    justify-content: center;
  }
}

}