@import "../setting/config.scss";

/*
  about
---------------------------------------------- */
.about {
    .lead {
        margin-top: 150px;
        margin-bottom: 120px;
        position: relative;

        @include mq() {
            margin-bottom: 78px;
            margin-top: 56.75px;
        }

        .inner-1100 {
            @include mq() {
                padding: 0 20px;
            }
        }
    
        &-link{
            position: relative;
            &::after{
                position: absolute;
                right: -16px;
                content: '';
                border-bottom: solid 2px #000;
                border-right: solid 2px #000;
                transform: rotate(45deg);
                width: 7px;
                height: 7px;
            }
        }

        .lead-image {
            position: relative;

            &.js-anime {
                opacity: 0;
                transform: translateX(-50%);
                transition: 1.2s cubic-bezier(0.36, 0.1, 0.16, 1);

                &.on {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            &::after {
                content: "";
                width: 100vw;
                height: 66%;
                background: $c-s;
                bottom: -80px;
                left: 0;
                margin: 0 -500%;
                padding: 0 500%;
                position: absolute;
                z-index: -1;

                @include mq() {
                    bottom: -30px;
                }
            }

            img{
                width: 100%;
                @include mq(){
                    min-height: 150px;
                    object-fit: cover;
                    object-position: left center;
                    font-family: 'object-fit: cover; object-position: left center;';  /*IE対策*/
                }
            }
        }

        .multi-title {
            margin-bottom: 64px;

            h1 {
                color: $c-s;
            }

            @include mq() {
                margin-bottom: 40px;
            }
        }

        &-contents {
            @include mq() {}
        }
    }

    .strength {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-top: 120px;
        max-width: 1500px;
        margin: -120px auto 0;

        @include mq() {
            margin-top: -78px;
            padding-top: 78px;

        }

        .inner-1100 {
            max-width: 1000px;
            padding: 0;
            margin-right: 0;
            margin-left: calc(100% - 1000px);
            position: relative;

            @include mq(xl) {
                margin-left: 80px;
            }

            @include mq() {
                margin-left: 45px;
            }

            .strength-back-image {
                position: absolute;
                z-index: -1;
                top: 241px;
                left: -306px;
                @include mq() {
                    width: 340px;
                    top: 347px;
                    left: -88px;
                }
    
                img{
                    display: block;
                    @include mq(){
                    }    
                }
            }
        }

        h2{
            @include fz(80);
            font-family: $fw;
            font-weight: bold;

            @include mq(xll) {
            }

            @include mq() {
                @include fz(40);
            }
            span:nth-of-type(1){
                position: absolute;
                top: 14px;
                left: -2em;
                color: $c-s;
                @include mq(xll) {
                    top: -95px;
                    left: 0px;
                }
    
                @include mq() {
                    @include fz(40);
                    top: -48px;
                    left: 0px;
                }
            }
            span.js-anime:nth-of-type(1){
                transform: translateY(30px);
                transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);
                opacity: 0;
            }
            span.js-anime:nth-of-type(2){
                transform: translateY(30px);
                transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);
                opacity: 0;
                // transition-delay: .2s;
            }
            span.js-anime.on:nth-of-type(1),
            span.js-anime.on:nth-of-type(2){
                transform: translateY(0);
                opacity: 1;    
            }
            span:nth-of-type(2){
                position: absolute;
                top: 14px;
                left: 16px;
                color: $c-w;
                z-index: 1;
                @include mq(xl) {
                    top: -9px;
                    left: 60px;
                }
    
                @include mq() {
                    @include fz(40);
                    top: -4px;
                    left: 32px;
                }    
            }
        }

        &-back-image.js-anime {
            transition: 5s cubic-bezier(0.36, 0.1, 0.16, 1);
            opacity: 0;
            transform: translateY(100%);
        }

        &-back-image.js-anime.on {
            opacity: 1;
            transform: translateY(0);
        }

        &-upper {
            display: flex;
            justify-content: flex-end;
        }

        &-text {
            padding: 50px 65px 50px 28em;
            margin-bottom: 85px;
            background: $c-s;
            display: flex;
            align-items: center;
            position: relative;

            span {
                max-width: 515px;

                @include mq(xl) {
                    max-width: unset;
                }

                &.js-anime{
                    opacity: 0;
                    transform: translateY(30px);
                    transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);
                    transition-delay: .5s;    
                }
                &.on {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            p:nth-of-type(1) {
                margin-bottom: 26px;
            }

            @include mq(xl) {
                padding: 150px 60px 50px 60px;
            }

            @include mq() {
                padding: 80px 35px 45px 30px;
                margin-bottom: 50px;
            }

            p {
                @include fz(15);
                font-family: $fn;
                color: $c-w;
                @include mq(){
                    @include fz(14);
                }
            }
        }

        &-item {
            width: 758px;

            @include mq(xl) {
                width: 100%;
            }

            p {
                margin-bottom: 32px;

                @include mq() {
                    margin-bottom: 35px;
                }
            }
        }

        &-list {
            padding-left: 80px;
            padding-right: 80px;
            @include fz(15);
            font-family: $fn;
            color: $c-b;

            @include mq() {
                padding-left: 0;
                padding-right: 30px
            }

            dt {
                @include fz(30);
                font-family: $fn;
                color: $c-s;
                margin-bottom: 32px;

                @include mq() {
                    @include fz(22);
                    margin-bottom: 22px;
                }
            }

            dt.js-anime {
                // transform: translateY(50px);
                opacity: 0;
                // transition: .9s cubic-bezier(0.545, 0.08, 0.52, 0.975);
            }

            dt.on {
                animation: fadeIn 2s forwards;
                // transform: translateY(0);
                // opacity: 1;

            }

            p.js-anime {
                // transform: translateY(50px);
                opacity: 0;
                // transition: .9s cubic-bezier(0.545, 0.08, 0.52, 0.975);
            }

            p.on:nth-of-type(1){
                animation: fadeIn 2s forwards;
                // transform: translateY(0);
                // opacity: 1;
            }

            p.on:nth-of-type(2){
                animation: fadeIn 2s forwards;
                // transform: translateY(0);
                // opacity: 1;
            }
        }

        &-button {
            margin-bottom: 120px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            max-width: 322px;

            &.js-anime{
                // transform: translateY(50px);
                opacity: 0;
                // transition: .9s cubic-bezier(0.545, 0.08, 0.52, 0.975);
                &.on{
                    animation: fadeIn 2s forwards;
                    // transform: translateY(0);
                    // opacity: 1;    
                }
            }
            
            .button-wp {
                min-width: 220px;
            }

            .text-small{
                @include fz(15);
                display: inline-block;
            }

            @include mq() {
                margin-bottom: 55px;
                display: flex;
                justify-content: center;
            }
        }

        .inner-max {
            width: 100vw;
            height: 100%;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            &.js-anime{
                opacity: 0;

            }
            &.on{
                animation: fadeIn 3s forwards;

            }
            img {
                width: 100vw;
                display: block;
    
                @include mq(){
                    max-width: 130%;
                    width: 130%;
                    height: 100%;
                    transform: translateX(-11%);
                    object-fit: cover;
                    font-family: 'object-fit: cover;'; /*IE対策*/
                }
            }    
        }        
    }

    .company {
        padding: 143px 0 100px;
        position: relative;

        @include mq {
            padding: 45px 0 100px;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background: $c-g-l;
            width: 100%;
            height: 600px;
            z-index: -1;
            @include mq(ll){
                height: 624px;
            }

            @include mq(mdl){
                height: 648px;
            }

            @include mq() {
                height: calc(100% - 50px);
            }


        }

        @include mq() {}

        .inner-1100 {
            @include mq() {}
        }

        .multi-title{
            margin-bottom: 55px;
            @include mq() {
                margin-bottom: 30px;
            }
        }

        h2 {
            color: $c-s;
            line-height: 1.1;
            @include mq() {
                   @include fz(40);         
            }
        }

        &-contents {
            display: flex;

            @include mq() {
                flex-direction: column;
            }
        }

        &-info {
            width: 59%;

            @include mq() {
                width: 100%;
            }
        }

        &-image {
            width: 41%;
            height: 100%;
            padding-left: 100px;

            @include mq() {
                width: 200px;
                margin: 0 auto;
                padding-left: 0;
            }

            img {
                display: block;
                margin: 0 auto;
            }

            &.js-anime img {
                transform: translateY(30px);
                opacity: 0;
                transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);
                transition-delay: 1s;

                @include mq() {
                    transition-delay: 0s;
                }
            }

            &.js-anime.on img {
                transform: translateY(0) scale(1);
                opacity: 1;
            }


        }

        li {
            @include fz(15);
            font-family: $fn;
            text-align: left;
            display: flex;
            margin-bottom: 30px;

            @include mq() {
                margin-bottom: 24px;
            }

            .br-sp {
                display: none;

                @include mq {
                    display: block;
                }
            }
        }

        li:nth-of-type(1) {
            opacity: 0;
            transform: translateY(50px);
            transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);

            &.on {
                opacity: 1;
                transform: translateY(0);
            }
        }

        li:nth-of-type(2) {
            opacity: 0;
            transform: translateY(50px);
            transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);
            @include mq(){
                margin-bottom: 35px;
            }
            &.on {
                opacity: 1;
                transform: translateY(0);
            }
        }

        li:nth-of-type(3) {
            line-height: 22px;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);

            &.on {
                opacity: 1;
                transform: translateY(0);
            }
        }

        li:nth-of-type(4) {
            line-height: 22px;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);

            &.on {
                opacity: 1;
                transform: translateY(0);
            }
        }

        li:nth-of-type(5) {
            line-height: 22px;
            margin-bottom: 65px;
            position: relative;
            @include mq() {
                margin-bottom: 34px;
            }

            &::before{
                position: absolute;
                width: 100%;
                height: 125vh;
                min-height: 125vh;
                max-height: 130vh;
                background: blanchedalmond;
                bottom: -35px;
                left: 0;
                z-index: -1;
                padding: 0 1000%;
                margin: 0 -1000%;
                @include mq(){
                    height: 105vh;
                    min-height: 95vh;
                    max-height: 110vh;
                }
            }

            &.js-anime{
                opacity: 0;
                transform: translateY(50px);
                transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);    
            }

            &.on {
                opacity: 1;
                transform: translateY(0);
            }
        }

        li:nth-of-type(6) {
            opacity: 0;
            transform: translateY(50px);
            transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);

            &.on {
                opacity: 1;
                transform: translateY(0);
            }

            @include mq() {
                margin-bottom: 25px;
                display: flex;
                flex-direction: column;
            }

            .item {
                @include mq() {
                    margin-bottom: 10px;
                }
            }

            p {
                text-indent: -15px;
                padding-left: 15px;
                line-height: 2;
            }
        }

        li:nth-of-type(7) {
            margin-bottom: 0px;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.9s cubic-bezier(0.36, 0.1, 0.16, 1);

            &.on {
                opacity: 1;
                transform: translateY(0);
            }

            @include mq() {
                margin-bottom: 23px;
                display: flex;
                flex-direction: column;
            }

            .item {
                @include mq() {
                    margin-bottom: 10px;
                }
            }

            .item-info {
                line-height: 2;
            }

        }

        .item{
            font-weight: normal;
            min-width: 130px;
            display: inline-block;

            @include mq() {
                font-weight: bold;
                min-width: 60px;
                @include fz(11);
                margin-right: 30px;
            }
        }

        .item-info {
            width: 100%;
            letter-spacing: .7px;
            @include mq() {
                @include fz(14);
            }

            a {
                position: relative;
                color: $c-g;

                &::after {
                    position: absolute;
                    content: '';
                    width: 85%;
                    height: 1px;
                    bottom: -4px;
                    left: 10px;
                    background: #7d7d7d;
                    @include mq(){
                        left: 7px;
                    }
                }
                &:hover{
                    transition: 0s;
                    span:nth-of-type(1){
                        color: #4285F4;
                        transition-delay: .0s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: 0s;
                        display: inline-block;

                    }
                    span:nth-of-type(2){
                        color: #EA4335;
                        transition-delay: .2s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .2s;
                        display: inline-block;

                    }
                    span:nth-of-type(3){
                        color: #FBBC05;
                        transition-delay: .3s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .3s;
                        display: inline-block;

                    }
                    span:nth-of-type(4){
                        color: #4285F4;
                        transition-delay: .4s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .4s;
                        display: inline-block;

                    }
                    span:nth-of-type(5){
                        color: #34A853;
                        transition-delay: .5s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .5s;
                        display: inline-block;

                    }
                    span:nth-of-type(6){
                        color: #EA4335;
                        transition-delay: .6s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .6s;
                        display: inline-block;

                    }
                    span:nth-of-type(8){
                        transition-delay: .7s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .7s;
                        display: inline-block;

                    }
                    span:nth-of-type(9){
                        transition-delay: .8s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .8s;
                        display: inline-block;

                    }
                    span:nth-of-type(10){
                        transition-delay: .9s;
                        animation-name: jump ;
                        animation-duration: .5s;
                        animation-delay: .9s;
                        display: inline-block;

                    }
                }        
            }
        }
    }

    .link {
        padding-top: 0;

        &-list {
            justify-content: center;
        }

        &-item {
            margin: 0;
        }
    }




}