@import "../setting/config.scss";


/*
  contact-thanks
---------------------------------------------- */
.contact-thanks{

.main{
  &-form{
    margin-top: 30px;
    @include mq(){
      padding: 40px 20px;
      margin-top: 0px;
    }
  }
  &-message,
  &-text{
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-message{
    text-align: center;
    padding-bottom: 60px;
    @include mq(){
      padding-bottom: 30px;
    }
    p{
      &:first-of-type{
        @include fz(40);
        letter-spacing: 0;
        line-height: 1.2;
        font-family: $fw;
        font-weight: 700;
        color: $c-s;
        @include mq(){
          @include fz(30);
          padding-bottom: 10px;
        }
      }
      &:last-of-type{
        @include fz(18);
        line-height: 1.556;
        @include mq(){
          @include fz(16);
        }
      }
    }  
  }
  &-text{
    text-align: center;
    @include mq(sm){
      text-align: left;
    }
    p{
      &:first-of-type{
        @include fz(15);
        line-height: 2;
        padding-bottom: 5px;
        @include mq(){
          @include fz(14);
        }
      }
      &:last-of-type{
        @include fz(11);
        line-height: 2.727;
        @include mq(){
          @include fz(10);
          line-height: 2;
        }
      }
    }
  }
}

}