@import "../setting/config.scss";


/*
  contact
---------------------------------------------- */
.contact{
margin-top: 150px;
@include mq(){margin-top: 0;}
.inner-1100{
  @include mq(){
    padding: 0 20px;
  }
}
.lead{
  // margin-top: 80px;
  margin-bottom: 60px;
  @include mq(){
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .multi-title{
    h1{color: $c-s;}
    @include mq(){
      margin-bottom: 40px;
    }
  }
}

.main{
  background: #efefef;
  padding: 115px 0 130px;
  @include mq(){
    padding: 35px 0 100px;
  }
  &-head{
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-head{
    @include fz(15);
    text-align: center;
    line-height: 2;
    padding-bottom: 60px;
    @include mq(){
      @include fz(14);
      text-align: center;
      line-height: 1.929;
      padding-bottom: 30px;
    }
  }
  &-contents{
    display: flex;
    justify-content: space-between;
    background: $c-w;
    max-width: 900px;
    margin: 0 auto;
    padding: 70px 0 55px;
    @include mq(){
      flex-direction: column-reverse;
      background: none;
      padding: 0;
    }
  }
  &-info{
    background: $c-s;
    color: $c-w;
    @include fz(15);
    width: calc(330/1100 *100%);
    height: 100%;
    min-width: calc(330/900 *100%);
    padding: 78px calc(60/1100 *100%) 130px;
    margin-left: -60px;
    @include mq(){
      @include fz(14);
      line-height: 1.714;
      margin-left: 0px;
      min-width: none;
      width: 100%;
      padding: 25px 25px 30px;
    }
    dl{
      dt{
        padding-bottom: 35px;
        @include mq(){
          padding-bottom: 25px;
        }
      }
    }
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      dl{
        opacity: 0;
        transition: .9s .3s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        // transform: scale(0.9);
      }
      &.on{
        opacity: 1;
        transform: translateY(0);
        dl{
          opacity: 1;
          // transform: scale(1);
          transform: translateY(0);
        }
      }
    }
  }
  &-form{
    background: $c-w;
    padding: 0 calc(65/1100 *100%);
    width: 100%;
    @include mq(){
      margin-bottom: 30px;
      padding: 20px 20px 0;
    }
    form div{
      padding-bottom: 25px;
      max-width: 500px;
      margin: 0 auto;
      &:nth-last-child(2),
      &.message{
        padding-bottom: 60px;
        word-wrap: break-word;
        word-break: break-all;
      }
      @include mq(){
        padding-bottom: 20px;
        &:nth-last-child(2),
        &.message{
        padding-bottom: 30px;
        }
        &:last-of-type{
        padding-bottom: 40px;
        }
      }
      label{
        span.label{
          @include fz(15);
          line-height: 1.6;
          font-family: $fw;
          font-weight: 600;
          display: inline-flex;
          align-items: center;
          padding-bottom: 5px;
          @include mq(){
            @include fz(14);
            line-height: 1.714;
            letter-spacing: 0;
          }
          &.required{
            &::after{
              content: "*";
              color: #c4196e;
              font-family: $fn;
              font-weight: 400;
            }
          }
        }
        span.error-text{display: none;}
        select{
          color: rgb(117, 117, 117);
          position: relative;
          background: url(#{$imgDir}arrow03.png) no-repeat center right 15px / 11px 7px;
          display: flex;
          align-items: center;
          &:focus{
            color: $c-b;
          }
          option{
            &:first-of-type{
              display: none;
            }
            &:not(:first-of-type) {
              color: $c-b;
            }
          }
        }
        input,select,textarea{
          @include fz(15);
          line-height: 1.6;
          display: block;
          width: 100%;
          background-color: #eae3f6;
          min-height: 50px;
          padding: .8em 1em;
          @include mq(){
            @include fz(16);
            min-height: 45px;
            padding: .6em 0.8em;
          }
        }
      }

      // is-error
      &.is-error{
        padding-bottom: 15px;
        &:nth-last-child(2),
        &.message{
          padding-bottom: 50px;
        }
        @include mq(){
          padding-bottom: 10px;
          &:nth-last-child(2),
          &.message{
          padding-bottom: 20px;
          }
        }
        label{
          span.error-text{
            color: #db1b3b;
            @include fz(11);
            line-height: 2.545;
            display: block;
          }
          input,select,textarea{
            border: 1px solid #db1b3b;
            background: #f6e3eb;
          }
          select{
            background: url(#{$imgDir}arrow03.png) no-repeat center right 15px / 11px 7px,#f6e3eb;
          }
        } 
      }
    }
  }
  &-btn{
    display: flex;
    justify-content: center;
    button{cursor: pointer;}
    @include mq(){
      padding-bottom: 40px;
    }
    .button-sd{
      @include mq(){
        @include fz(20);
      }
    }
  }
}


}