@import "../setting/config.scss";


/*
  contact-confirm
---------------------------------------------- */
.contact-confirm{

.main{
  &-form{
    @include mq(){
      padding: 40px 20px 0;
    }
    dl{
      padding-bottom: 25px;
      &:last-of-type{
        padding-bottom: 0px;
      }
      @include mq(){
        padding-bottom: 20px;
      }
      
      dt{
        @include fz(15);
        line-height: 1.6;
        font-family: $fw;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        padding-bottom: 5px;
        @include mq(){
          @include fz(14);
          line-height: 1.714;
          letter-spacing: 0;
        }
        &.required{
          &::after{
            content: "*";
            color: #c4196e;
            font-family: $fn;
            font-weight: 400;
          }
        }
      }
      dd{
        color: #666666;
      }
      
    }
  }
  &-btn{
    justify-content: space-between;
    @include mq(){
      justify-content: center;
    }
    @include mq(ss){
      flex-direction: column-reverse;
      align-items: center;
    }
    button{
      &:first-of-type{
        margin-right: 20px;
        @include mq(ss){
          margin-right: 0;
        }
      }
      &:last-of-type{
        @include mq(ss){
          margin-bottom: 15px;
        }
      }
    }
    .button-sd{
      min-width: 180px;
      max-width: 240px;
      width: 100%;
      @include mq(){
        min-width: 100px;
        max-width: 240px;
        width: 100%;
      }
      
    }
  }
}

}