@import "../setting/config.scss";


/*
  privacy-policy
---------------------------------------------- */
.privacy-policy,
.cookie-policy{
margin-top: 150px;
@include mq(){margin-top: 0;}
.inner-1100{
  @include mq(){
    padding: 0 20px;
  }
}
.lead{
  // margin-top: 80px;
  margin-bottom: 60px;
  @include mq(){
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .multi-title{
    h1{
      color: $c-s;
      line-height: 1.2;
      span{
        &:nth-of-type(9){animation: multiTtl .6s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(10){animation: multiTtl .7s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(11){animation: multiTtl .8s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(12){animation: multiTtl .9s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(13){animation: multiTtl 1s cubic-bezier(.36, .1, .16, 1) forwards;}
        &:nth-of-type(14){animation: multiTtl 1.1s cubic-bezier(.36, .1, .16, 1) forwards;}
      }
      @include mq(){
        @include fz(40);
      }
    }
    @include mq(){
      margin-bottom: 40px;
    }
  }
}

.main{
  background: #efefef;
  padding: 115px 0 130px;
  @include mq(){
    padding: 35px 0 100px;
  }
  &-head{
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-head{
    @include fz(15);
    text-align: center;
    line-height: 2;
    padding-bottom: 60px;
    @include mq(){
      @include fz(14);
      text-align: left;
      line-height: 1.929;
      padding-bottom: 30px;
    }
  }

  &-contents{
    dl dt, dl dd, p{
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  
  }
  &-contents{
    background: $c-w;
    max-width: 900px;
    margin: 0 auto;
    padding: 65px 80px 75px;
    @include mq(){
      padding: 35px 20px 45px;
    }
    dl{
      padding-bottom: 40px;
      @include mq(){
        padding-bottom: 30px;
      }
      dt{
        @include fz(18);
        font-weight: 700;
        line-height: 2.556;
        color: $c-s;
        padding-bottom: 10px;
        @include mq(){
          @include fz(16);
          padding-bottom: 5px;
        }
      }
      dd{
        line-height: 1.8;
        margin-top: 30px;
        span{
          display: block;
        }
      }
      dd:nth-of-type(1){
        margin-top: 0px;
      }
    }
    p{
      text-align: right;
    }
  }
}

}