@import "../setting/config.scss";


/*
  recruit
---------------------------------------------- */
.recruit{
margin-top: 150px;
@include mq(){margin-top: 0;}
h2{
  @include fz(80);
  line-height: 1;
  font-family: $fw;
  letter-spacing: 0;
  color: $c-s;
  @include mq(){
    @include fz(40);
  }
  &.js-anime{
    opacity: 0;
    transition: .6s cubic-bezier(.36, .1, .16, 1);
    transform: translateY(30px);
    &.on{
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.lead{
  margin-bottom: 0;
  @include mq(){
    margin-top: 45px;
    .inner-1100{
      padding: 0 20px;
    }
  }
  .multi-title{
    margin-bottom: 64px;
    h1{color: $c-s;}
    @include mq(){
      margin-bottom: 40px;
    }
  }
  &-contents{
    display: flex;
    position: relative;
    margin-bottom: 50px;
    @include mq(){
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
  }
  &-text{
    padding: 50px 45px 53px 45px;
    position: relative;
    z-index: 1;
    width: calc(420/1100 *100%);
    height: 100%;
    max-width: 420px;
    min-width: 420px;
    margin-right: 0px;
    @media screen and (max-width: 1500px){
      margin-right: -40px;
    }
    @include mq(){
      padding: 25px 65px 30px 30px;
      margin-left: auto;
      width: calc(660/670 *100%);
      max-width: 620px;
      min-width: auto;
    }
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background: $c-s;
      top: 0;
      left: 0px;
      position: absolute;
      // transition: .9s cubic-bezier(.36, .1, .16, 1);
      @include mq(){
        min-width: auto;
      }
    }
    p{
      color: $c-w;
      line-height: 2;
      padding-bottom: 35px;
      @include mq(){
        padding-bottom: 18px;
      }
    }
    .btn,p{
      position: relative;
      z-index: 2;
    }
    .btn{
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      width: 100%;
      @include mq(){
        margin-right: 0;
      }
      .button-wp.ex-link{
        @include mq(xs){
          min-width: 100%;
          max-width: 200px;
          padding: 12px 15px 13px 30px;
        }
      }
    }

    &.js-anime{
      // &::before{
      //   opacity: 0;
      //   transition: .9s cubic-bezier(.36, .1, .16, 1);
      // }
      // .btn,p{
      //   opacity: 0;
      //   transform: translateY(30px);
      //   transition: .9s cubic-bezier(.36, .1, .16, 1);
      // }
      // .btn{transition-delay: .3s;}
      &.on{
        // .btn,p,&::before{
        //   animation: stFadein .9s forwards cubic-bezier(.36, .1, .16, 1);
        //   opacity: 1;
        //   transform: translateY(0);
        // }
        p{
          animation: stFadein 1.2s forwards cubic-bezier(.36, .1, .16, 1);
        }
        .btn{
          animation: stFadein 1.6s forwards cubic-bezier(.36, .1, .16, 1);
        }
      }
    }
  }
  &-image{
    // margin: 50px -120px -50px -120px;
    margin: 50px -120px -50px -200px;
    position: relative;
    z-index: -1;
    width: 100%;
    @media screen and (max-width: 1500px){
      margin: 50px -120px -50px -120px;
    }
    @include mq(){
      width: calc(100% + 10px);
      // width: 100%;
      margin: -20px auto 0 -20px;
    }
    &.js-anime{
      // opacity: 0;
      // transform: translateX(-50%);
      // transition: .9s cubic-bezier(.36, .1, .16, 1);
      &.on{
        // opacity: 1;
        // transform: translateX(0);
        animation: recruitLead 1.2s forwards cubic-bezier(.36, .1, .16, 1);
      }
    }
  }
  &-buttons {
    max-width: 660px;
    margin: 0 auto;
    padding:0;
    background: none;
    width: 100%;
    @include mq() {
      justify-content: space-between;
      max-width: 355px;
    }
  }
  &-button-wp {
    justify-content: flex-start;
    width: 100%; 
    @include mq() {
      margin-right: 20px;
    }
    @include mq(ss){
      margin-right: 10px;
    }
    a {
      display: inline-block;
      white-space: nowrap;
      // width: 100%;
      .lead-link {
        position: relative;
        display: inline-block;
        &::after {
          position: relative;
          display: inline-block;
          right: -20px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          transition:.6s cubic-bezier(.36, .1, .16, 1);
          @include mq(){
            right: -10px;
          }
          @include mq(ss){
            right: -5px;
          }
        }
      }
    }
    &:first-of-type {
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      @include mq() {
        margin-right: 20px;
      }
      @include mq(ss){
        margin-right: 10px;
      }
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      // width: 30%;
      @include mq(){
        max-width: 65px;
        width: 100%;
      }
    }
    &:nth-of-type(3) {
      // width: 40%;
      padding-right: 25px;
      @include mq(){
        padding: 0;
        max-width: 165px;
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.message{
  margin-top: 80px;
  padding-top: 40px;
  @include mq(){
    margin-top: 30px;
    padding-top: 20px;
  }
  h2{
    margin-bottom: 80px;
    padding-left: 60px;
    @include mq(){
      margin-bottom: 35px;
      padding-left: 0;
    }
  }
  .inner-1100{
    &:nth-of-type(2){
      @include mq(){padding: 0 0;}
    }
  }
  &-contents{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    margin-bottom: 155px;
    @include mq(){
      padding-left: 0;
      margin-bottom: 80px;
      flex-direction: column-reverse;
    }
  }
  &-text{
    // max-width: 595px;
    // width: calc(595/1100 *100%);
    max-width: 595px;
    width: calc(625/1100 *100%);
    margin-right: calc(95/1100 *100%);
    p{
      padding-bottom: 20px;
      &:last-of-type{
        padding-bottom: 0;
      }
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &:last-of-type{
          transform: translateY(0px) scale(1.05);
          transition-delay: .3s;
        }
        &.on{
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
    }
    @include mq(){
      max-width: none;
      width: 100%;
      margin: 0 auto;
    }
  }
  &-image{
    width: calc(280/1100 *100%);
    min-width: 200px;
    margin-right: 70px;
    position: relative;
    display: inline-block;
    height: 100%;
    @include mq(){
      min-width: auto;
      width: calc(340/630 *100%);
      margin: 0 auto 45px;
      img{width: 100%;}
    }
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      background: $c-s;
      position: absolute;
      top: 40px;
      right: -40px;
      z-index: -1;
      @include mq(){
        top: 20px;
        right: -20px;
      }
    }
    &.js-anime{
      opacity: 0;
      transition: .9s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &::after{
        opacity: 0;
        top: 0px;
        right: 0px;
        transition: .9s .3s cubic-bezier(.36, .1, .16, 1);
      }
      &.on{
        opacity: 1;
        transform: translateY(0);
        &::after{
          opacity: 1;
          top: 40px;
          right: -40px;
          @include mq(){
            top: 20px;
            right: -20px;
          }
        }
      }
    }
  }
  &-images{
    display: flex;
    @include mq(){
      flex-direction: column;
    }
    > div{
      > div{
        &.js-anime{
          opacity: 0;
          transition: .9s cubic-bezier(.36, .1, .16, 1);
          transform: translateY(30px);
          @include mq(){transition: .9s cubic-bezier(.36, .1, .16, 1);}
          &.on{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &:nth-of-type(1){
        width: calc(350/1100 *100%);
        margin-top: 60px;
        max-width: 350px;
        margin-right: 25px;
      }
      &:nth-of-type(2){
        width: calc(700/1100 *100%);
        display: flex;
        .multi{
          width: calc((100% - 50px)/2);
          &:nth-of-type(1){
            margin-right: 25px;
            margin-top: 30px;
          }
          > div{
            &:first-of-type{
              padding-bottom: 20px;
            }
            &.js-anime{
              opacity: 0;
              transition: .9s cubic-bezier(.36, .1, .16, 1);
              transform: translateY(30px);
              &.on{
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
      @include mq(){
        &:nth-of-type(1){
          width: calc(410/750 *100%);
          max-width: 410px;
          margin: 0 auto 30px;
          img{margin: 0 auto;}
        }
        &:nth-of-type(2){
          width: 100%;
          .multi{
            width: calc((100% - 8px)/2);
            &:nth-of-type(1){
              margin-right: 8px;
              margin-top: 20px;
            }
            > div{
              &:first-of-type{
                padding-bottom: 6px;
              }
            }
          }
        }
      }
    }
  }
}

.members{
  margin-top: 120px;
  padding-top: 40px;
  @include mq(){
    margin-top: 45px;
    padding-top: 20px;
  }
  .inner-1300{
    padding: 0 40px 0 0;
    @include mq(){
      padding: 0;
    }
  }
  .inner-1100{
    // padding: 0 calc(40/1220 *100%) 0 calc(60/1220 *100%);
    padding: 20px 0 0 60px;
    margin: 0 0 0 auto;
    @include mq(lg){
      padding: 0 0 0 60px;
    }
    @include mq(){
      padding: 0 30px;
    }
    h2{
      width: 100%;
      max-width: 390px;
      margin:0 calc(100/1160 *100%) -100px 0;
      padding-left: 60px;
      @include mq(xll){
        padding: 0;
      }
      @include mq(lg){
        max-width: none;
        padding-left: 60px;
        margin:0 0 50px;
      }
      @include mq(){
        @include fz(40);
        padding: 0;
        margin:0 0 37px;
      }
    }
  }
  &-contents{
    display: flex;
    margin-bottom: 115px;
    justify-content: space-between;
    @include mq(lg){
      margin-bottom: 80px;
      flex-direction: column-reverse;
    }
  }
  &-text{
    // width: calc(388/1160 *100%);
    width: 100%;
    max-width: 380px;
    margin-right:calc(100/1160 *100%);
    padding-left: 60px;
    margin-top: 150px;
    @include mq(xll){
      max-width: 315px;
      padding-left: 0;
      margin-right: 40px;
      }
    @include mq(lg){
      max-width: none;
      padding-left: 60px;
      margin:0;
    }
    p{
      padding-bottom: 20px;
      &:last-of-type{
        padding-bottom: 30px;
      }
      @include mq(lg){
        br.pc{
          display: none;
        }
      }
    }
    p,.lead-btn{
      .button-wp.ex-link{
        padding: 13px 42px 14px 40px;
        @include mq(){
          padding: 12px 38px 13px 40px;
          span{
            align-items: baseline;
          }
        }
      }
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    @include mq(lg){width: 100%;}
    @include mq(){
      width: 100%;
      margin-right: 0;
      padding-left: 0;
      .lead-btn{
        display: flex;
        justify-content: flex-end;
      }
    }

  }
  &-list{
    width: calc(680/1160 *100%);
    // margin-right: -60px;
    max-width: 680px;
    // width: 100%;
    h2{
      display: none;
      @include mq(lg){display: block;}
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      // max-width: 680px;
    }
    @include mq(lg){
      max-width: 680px;
      padding-left: 60px;
      width: 100%;
      margin-bottom: 30px;
    }
    @include mq(){
      padding-left:0;
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      ul{
        max-width: 430px;
        margin: 0 auto;
      }
    }
  }
  &-item{
    width: calc((100% - 80px)/3);
    margin-right: 40px;
    padding-bottom: 35px;
    &:nth-of-type(3n){
      margin-right: 0;
    }
    @include mq(){
      width: calc((100% - 15px)/2);
      margin-right: 15px;
      padding-bottom: 20px;
      &:nth-of-type(3n){
        margin-right: 15px;
      }
      &:nth-of-type(2n){
        margin-right: 0;
      }
    }
    dl{
      dt{
        position: relative;
        margin-bottom: 10px;
        display: inline-block;
        @include mq(){
          margin-bottom: 12px;
        }
        .image{
          img{width: 100%;}
        }
        .title{
          // opacity: 0;
          transition: .5s cubic-bezier(.36, .1, .16, 1);
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(97,75,194,0.75);
          width: 100%;
          height: 100%;
          color: $c-w;
          display: flex;
          justify-content: center;
          align-items:center;
          flex-direction: column;

          > div{
            display: inline-block;
            text-align: left;
            width: auto;
            max-width: 86%;
          }
          p{
            font-family: $fw;
            text-align: left;
            margin: 0 auto;
          }
          .main{
            font-weight: 700;
            @include fz(13);
            letter-spacing: 0.08em;
            line-height: 1.769;
          }
          .sub{
            font-weight: 400;
            font-family: $fn;
            @include fz(11);
            letter-spacing: 0.08em;
            line-height: 1.8;
            text-indent: -1em;
            padding-left: 1em;
          }
          @include mq(xll){
            .main{
              @include fz(11);
            }
            .sub{
              @include fz(10);
            }
          }
        }
      }
      dd{
        font-family: $fw;
        font-weight: 600;
        @include fz(13);
        text-align: center;
        line-height: 1.538;
        @include mq(){
          line-height: 1.231;
        }
        span{
          @include fz(10);
          color: $c-w;
          background: $c-s;
          padding: 1px 3px;
          margin-right: 5px;
          @include mq(){
            padding: 0px 3px 0 4px;
          }
        }
      }
    }
    &.js-anime{
      opacity: 0;
      transition: .9s .3s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      dl dt .title{
        opacity: 1;
        transition: .9s .8s cubic-bezier(.36, .1, .16, 1);
      }
      &.on{
        opacity: 1;
        transform: translateY(0);
        dl dt .title{
          opacity: 0;
          transition: 0.9s .8s cubic-bezier(.36, .1, .16, 1);
        }
        // @include mq(pc){
        //   dl dt:hover .title{
        //     opacity: 1;
        //     transition: .6s cubic-bezier(.36, .1, .16, 1);
        //   }
        // }
        dl dt:hover .title{
          opacity: 1;
          transition: .6s cubic-bezier(.36, .1, .16, 1);
        }
        
        @include mq(){
          dl dt.on .title{
              opacity: 1;
          }
          dl dt.off .title{
              opacity: 0;
          }
        }
      }
    }
  }
  &-image{
    width: 100%;
    display: flex;
    p,img{
      width: 100%;
    }
    @include mq(){
      flex-direction: column;
      padding: 0 55px;
      margin-bottom: 80px;
      p{
        max-width: 430px;
        margin: 0 auto;
      }
      p:not(:last-of-type){
        padding-bottom: 15px;
      }
    }
    p{
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
      img{
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'; /*IE対策*/
        @include mq(){height: auto;}
      }
    }
  }
}

.recruiting{
  &-head{
    // padding: 75px 0;
    color: $c-w;
    background: $c-s;
    overflow: hidden;
    .inner-1100{
      padding: 75px 0;
      position: relative;
      &::after{
        content: "";
        background: url(#{$imgDir}recruit11.png) no-repeat top right /contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -80px;
        right: -110px;
        z-index: 0;
      }
      @include mq(){
        padding:55px 30px;
        &::after{
          background: url(#{$imgDir}recruit11.png) no-repeat top right /275px 180px;
          top: -20px;
          right: -10px;
        }
      }
      &.js-anime{
        &::after{
          transition: 1.5s cubic-bezier(.36, .1, .16, 1);
          transform: translateY(30%);
        }
        &.on{
          &::after{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    h3,p{
      z-index: 1;
      position: relative;
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    h3{
      @include fz(30);
      font-weight: 400;
      line-height: 1.5333;
      padding-bottom: 30px;
      padding-left: 60px;
      @include mq(){
        @include fz(22);
        padding-left: 0;
      }
    }
    p{
      line-height: 2;
      max-width: 600px;
      padding-left: 60px;
      .text-link{
        color: $c-w;
      }
      @include mq(){
        padding-left: 0;
      }
    } 
  }
  &-contents{
    background: #efefef;
    padding: 80px 0 110px;
    @include mq(){
      padding: 60px 0;
    }

  }
  &-story{
    background: $c-w;
    padding: 60px 55px 50px;
    max-width: 840px;
    width: 100%;
    margin: 0 auto 60px;
    @include mq(){
      background: none;
      padding: 0;
      margin: 0 auto 50px;
    }
    > div{
      &:nth-of-type(1){
        display: flex;
        @include mq(){
          padding-bottom: 25px;
        }
        > div{
          &:nth-of-type(1){
            width: calc(160/730 *100%);
            min-width: 160px;
            margin-right: 40px;
            @include mq(){
              min-width: 120px;
              // width: auto;
              width: calc(120/630 *100%);
              margin-right: 20px;
            }
          }
        }
        .head{
          line-height: 2;
        }
        .title{
          font-family: $fw;
          font-weight: 600;
          color: $c-g;
        }
        @include mq(){
          .title{
            @include fz(13);
          }
        }
      }
      &:nth-of-type(2){
        margin-left: 200px;
        max-width: 530px;
        line-height: 1.867;
        margin-top: -85px;
        @include mq(){
          margin-left: 0;
          margin-top: 0;
          padding-left: 0;
          max-width: none;
        }
      }
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  &-info{
    margin: 0 auto;
    max-width: 840px;
    width: 100%;
    dl{
      &:first-of-type{
        padding-bottom: 45px;
        @include mq(){padding-bottom: 30px;}
      }
      dt{
        @include fz(18);
        font-weight: 700;
        color: $c-s;
        line-height: 2.556;
        padding-bottom: 10px;
        @include mq(){
          padding-bottom: 5px;
        }
      }
      dd{
        line-height: 1.733;
        padding-left: 1em;
        text-indent: -1em;
        &.text{
          padding-top: 1em;
          padding-left: 0;
          text-indent: 0;
        }
      }
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

}