@import "../setting/config.scss";


/*
  service-detail
---------------------------------------------- */
.service-detail{
margin-top: 150px;
@include mq(){margin-top: 0;}
.lead{
  color: $c-w;
  background: $c-s;
  margin-bottom: 120px;
  display: flex;
  @include mq(){
    padding: 40px 0 35px;
    margin-top: 45px;
    margin-bottom: 40px;
  }
  .inner-1620{
    display: flex;
    align-items: center;
    min-height: 277px;
    @include mq(){
      flex-direction: column;
      height: auto;
      min-height: auto;
    }
  }
  &-title{
    margin-right: calc(170/1400 *100%);
    @include mq(lg){
      margin-right: 80px;
    }
    @include mq(){
      margin: 0 auto 30px 0;
    }
    h1{
      @include fz(60);
      color: $c-w;
      font-family: $fw;
      font-weight: 700;
      line-height: 0.95;
      padding-bottom: 25px;
      letter-spacing: 0;
      white-space: nowrap;
      @include mq(xl){
        .sp{display: block;}
      }
      @include mq(){
        @include fz(40);
        line-height: 1.214;
        padding-bottom: 15px;
      }
    }
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-text{
    width: 100%;
    max-width: 700px;
    padding: 20px 0;
    @include fz(15);
    line-height: 2;
    @include mq(){
      padding: 0;
      @include fz(14);
      line-height: 1.929;
      width: 100%;
    }
    p{
      text-align: left;
      // padding-right: 148px;
      // padding-right: calc(260/1300 *100%);
      @include mq(xll){
        max-width: 470px;
        padding-right: 0;
      }
      @include mq(){
        max-width: none;
      }
    }
    &.js-anime{
      animation: stFadein .9s forwards cubic-bezier(.36, .1, .16, 1);
    }
  }
}

.main{
  margin-bottom: 130px;
  @include mq(){margin-bottom: 70px;}
  &-contents{
    display: flex;
    // justify-content: space-between;
    @include mq(){
      justify-content: space-between;
      flex-direction: column-reverse;
    }
    // 左画像レイアウト
    &.image-left{
      margin-bottom: 160px;
      @include mq(){
        margin-bottom: 65px;
      }
      .main-image{
        padding-right: 95px;
        @include mq(lg){
          padding-right: 60px;
        }
        @include mq(){
          padding-right: 0px;
        }
      }
    }

    // 右画像レイアウト
    &.image-right{
      flex-direction: row-reverse;
      margin-bottom: 170px;
      @include mq(){
        flex-direction: column-reverse;
        margin-bottom: 65px;
      }
      .main-image{
        padding-left: 55px;
        margin-right: 40px;
        @include mq(lg){
          padding-left: 20px;
        }
        @include mq(){
          text-align: right;
          padding: 0;
          margin-right: 0;
        }
        div{
          &::after{
            content: "";
            right: -40px;
            left: auto;
            @include mq(){
              right: -30px;
            }
          }
          &.js-anime{
            img{
              transform: translateX(-30px);
            }
            &::after{
              transform: translateX(100px);
            }
            &.on{
              &::after,img{
                transform: translateX(0);
              }
            }
          }
        }
      }
    }

    // 文章のみレイアウト
    &.text-only{
      .main-text{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        margin-top: 0;
        @include mq(lg){
          padding: 0;
        }
        @include mq(){
          flex-direction: column;
          padding: 0;
          margin: 0;
        }
        dl{
          width: calc((100% - 100px) /2);
          max-width: 490px;
          &:first-of-type{
            margin-right: 80px;
          }
          @include mq(){
            width: 100%;
            max-width: none;
            &:first-of-type{
              margin: 0 0 40px 0;
            }
          }
        }
      }
    }
  }
  &-image{
    div{
      position: relative;
      display: inline-block;
      max-width: 420px;
      @include mq(){max-width: none;}
      &::after{
        content: "";
        width: calc(100% - 40px);
        height: 100%;
        background: $c-s;
        position: absolute;
        top: 40px;
        left: 0px;
        z-index: -1;
        @include mq(){
          width:100%;
          left: -30px;
          top: 30px;
        }
      }
      img{
        padding-left: 40px;
        @include mq(){
          padding-left: 0;
        } 
      }
      &.js-anime{
        img{
          transition: .9s .3s cubic-bezier(.36, .1, .16, 1);
          opacity: 0;
          transform: translateX(30px);
        }
        &::after{
          transition: .9s cubic-bezier(.36, .1, .16, 1);
          opacity: 0;
          transform: translateX(-100px);
          }
        &.on{
          &::after,img{
            opacity: 1;
            transform: translateX(0);
          }
          
        }
      }
    }
    
  }
  &-text{
    width: calc(500/1100 *100%);
    margin-top: 12px;
    @include mq(){
      width: 100%;
      margin: 0 0 40px;
    }
    dl{
      dt{
        @include fz(30);
        color: $c-s;
        line-height: 1.533;
        padding-bottom: 25px;
        span{display: inline-block;}
        @include mq(){
          @include fz(22);
          line-height: 1.523;
          padding-bottom: 20px;
          
        }
        @include mq(xs){
          br.ssp{display: none;}
        }
      }
      dd{
        @include fz(15);
        line-height: 2;
        @include mq(){
          @include fz(14);
          line-height: 1.929;
        }
      }
      &.js-anime{
        dt,dd{
          opacity: 0;
          transition: .6s cubic-bezier(.36, .1, .16, 1);
          transform: translateY(30px);
        }
        dd{transition-delay: .3s;}
        &.on{
          dt,dd{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
  
}

.solution{
  background: #efefef;
  padding: 73px 0 0;
  @include mq(){
    padding: 30px 0 0;
  }
  .inner-1100{
    @include mq(){padding: 0 20px;}
  }
  h2{
    @include fz(60);
    font-family: $fw;
    font-weight: 700;
    line-height: 1.333;
    padding-bottom: 45px;
    letter-spacing: 0;
    text-align: center;
    @include mq(){
      @include fz(36);
      padding-bottom: 15px;
    }
    &.js-anime{
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      opacity: 0;
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
        
      }
    }
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    &::after {
      display: block;
      content:"";
      width: calc((100% - 80px) /3);
    }

    li{
      width: calc((100% - 80px) /3);
      background: $c-w;
      margin-bottom: 40px;
      padding: 35px 0 32px;
      @media screen and (max-width: 900px) {
        width: 100%;
      }
      @include mq(){
        padding: 18px 0 15px;
        margin-bottom: 20px;
      }
      dl{
        padding: 0 33px;
        @include mq(){
          padding: 0 20px;
        }
        dt{
          padding-bottom: 20px;
          display: flex;
          justify-content: space-between;
          position: relative;
          @include mq(){
            padding-bottom: 15px;
          }
          div{
            &.title{
              @include fz(15);
              color: $c-s;
              font-weight: 700;
              line-height: 1.8;
              border-bottom: 2px solid $c-s;
              display: inline-block;
              padding-bottom: 3px;
              @include mq(){
                @include fz(14);
                line-height: 1;
              }
              &.title-icon{
                margin-right: 30px;
              }
              &.title-icons{
                margin-right: 60px;
                .fab:nth-child(2){
                  margin-left: 8px;
                }
                .icon{
                  right: -10px;
                  @include mq(){right: 0;}
                }
              }
            }
            &.icon{
              color: #959799;
              position: absolute;
              top: -5px;
              right: -5px;
              .fab:nth-of-type(2){
                margin-left: 8px;
              }
              @include mq(){
                top: -5px;
                right: 0;
                .fab{
                  font-size: 2.4em;
                }
              }
            }
            &.icon{
              right: -10px;
              @include mq(){right: 0;}
            }
          }
          
        }
        dd{
          text-align: left;
          div{
            @include fz(13);
            line-height: 1.846;
            padding-bottom: 10px;
              @include mq(){
                @include fz(11);
                line-height: 2;
                padding-bottom: 6px;
              }
            &.note{
              padding-bottom: 0;
              em{
                @include fz(20);
                font-weight: 600;
                font-style: normal;
                line-height: 1;
                vertical-align: bottom;
                display: inline-block;
                margin-bottom: 3px;
                @include mq(){
                  @include fz(15);
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  &-more{
    position: relative;
    padding-top: 100px;
    transition: .3s cubic-bezier(.36, .1, .16, 1);

    @include mq(){
      padding-top: 80px;
    }
    &.open{padding: 0;}
    .ac-head{
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 48px;
      margin: 0;
      display: block;
      @include mq(pc){
        &.button-wp{color: inherit;}
        &.button-wp:hover span::before{
          color: $c-w;
        }
      }
      @include mq(){
        bottom: 30px;
      }
      span{
        display: flex;
        &::before{
          content: "More";
          @include fz(18);
          color: $c-s;
          @include mq(){
            @include fz(15);
          }
        }
        &::before, &::after{
          transition: .3s cubic-bezier(.36, .1, .16, 1);
        }
        &::after{
          display: inline-block;
          transform: rotate(135deg);
          @include mq(){
            margin-bottom: 2px;
          }
        }
      }
      &.open{
        span{
          &::before{
            content: "Close";
          }
          &::after{
            transform: rotate(-45deg);
            margin-bottom: -3px;
          }
        }
      }
    }
    .ac-contents{
      display: none;
      padding-bottom: 100px;
      @include mq(){
        padding-bottom: 80px;
      }
      .solution-list li.js-anime.on{
        opacity: 0;
        transform: translateY(30px);
      }
      &.open{
        .solution-list li.js-anime.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

.link{
  padding-top: 70px;
  @include mq(){
    padding-top: 50px;
  }
  .service-icons{
    padding: 0 100px;
    margin-bottom: 90px;
    @include mq(){
      padding: 0 0px;
      margin-bottom: 50px;
    }
    @include mq(sm){
      padding: 0 0;
    }
    li{
      width: calc((100% - 80px) /5);
      margin-right: 20px;
      &:last-of-type{
        margin-right: 0px;
      }
      dl dt{
        margin-bottom: 7px;
      }
      dl dd:first-of-type{
        white-space: normal;
        text-align: center;
        span{display: inline-block;}
      }
      @include mq(xll){
        &:nth-of-type(1),
        &:nth-of-type(2){
          width: calc((80% - 40px) /2);
        }
        &:nth-of-type(2){
          margin-right: auto;
        }
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5){
          width: calc((100% - 60px) /3);
        }
      }
      @include mq(sm){
        &:nth-of-type(1),
        &:nth-of-type(2){
          width: calc((100% - 40px) /2);
        }
        &:nth-of-type(2){
          margin-right: auto;
        }
        &:nth-of-type(3),
        &:nth-of-type(4){
          width: calc((100% - 40px) /2);
        }
        &:nth-of-type(5){
          width: calc((100% - 40px) /2);
          margin: 0 auto;
        }
      }
      @include mq(){
        dl dt img {
            max-width: 78%;
        }
      }
      &.js-anime{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
}