@import "../setting/config.scss";


/*
  service
---------------------------------------------- */
.service{
margin-top: 150px;
@include mq(){margin-top: 0;}
.lead{
  margin-bottom: 180px;
  @include mq(){
    margin-top: 45px;
    margin-bottom: 60px;
  }
  .multi-title{
    margin-bottom: 64px;
    h1{color: $c-s;}
    @include mq(){
      margin-bottom: 40px;
    }
  }
  &-contents{
    display: flex;
    position: relative;
    align-items: flex-start;
    @include mq(){
      flex-direction: column;
    }
  }
  &-text{
    padding: 120px 200px 110px 100px;
    position: relative;
    width: calc(700/1300 *100%);
    @media screen and (max-width: 1300px){
      padding: 100px 110px 90px 60px;
    }
    @include mq(xl){
      // padding: 50px 30px 90px 60px;
      width: 60%;
    }
    @include mq(){
      padding: 45px 30px 100px 30px;
      width: calc(100% - 50px);
      margin-right: 50px;
    }
    &::before{
      content: "";
      // width: calc(100% + 100px);
      width: 100%;
      // min-width: 700px;
      height: 100%;
      background: $c-s;
      top: 0;
      // left: -100px;
      left: 0;
      position: absolute;
      z-index: -1;
      // opacity: 0;
      // transition: .9s cubic-bezier(.36, .1, .16, 1);
      // @media screen and (max-width: 1500px){
      //   width: calc(100% + 100px);
      // }
      // @include mq(xl){
      //   min-width: 700px;
      // }
      @include mq(){
        // width: calc(100% + 50px);
        min-width: auto;
        // left: -50px;
      }
    }
    dl{
      color: $c-w;
      dt,
      dd{
        margin: 0 auto;
        // opacity: 0;
        // transform: translateY(30px);
        // transition: .6s cubic-bezier(.36, .1, .16, 1);
      }
      dt{
        @include fz(30);
        font-family: $fw;
        font-weight: 600;
        max-width: 410px;
        line-height: 1.333;
        padding-bottom: 35px;
        @include mq(){
          @include fz(20);
          max-width: none;
          line-height: 1.3;
          padding-bottom: 20px;
        }
      }
      dd{
        @include fz(15);
        line-height: 2;
        max-width: 410px;
        width: 100%;
        @include mq(){
          @include fz(14);
          max-width: none;
          line-height: 1.929;
          // padding-bottom: 20px;
        }
      }
    }
    &.js-anime{
      &.on{
        // &::before{
        //   opacity: 1;
        // }
        dl dt{
          animation: stFadein .9s forwards cubic-bezier(.36, .1, .16, 1);
        }
        dl dd{
          // opacity: 1;
          // transform: translateY(0);
          // @media all and (-ms-high-contrast: none) {
          //   animation: stFadein .9s forwards cubic-bezier(.36, .1, .16, 1);
          // }
          animation: stFadein 1.2s forwards cubic-bezier(.36, .1, .16, 1);
        }
      }
    }
  }
  &-image{
    margin: 50px 0px -50px -50px;
    width: auto;
    // margin: 50px -200px -50px -100px;
    position: relative;
    @media screen and (min-width: 1300px){
      margin: 50px 0px -50px -100px;
      width: calc(700/1300 *100%);
      img{width: 100%;}
    }
    @include mq(xl){
      width: calc(40% + 50px);
      margin: 50px 0px 0px -50px;
    }
    @include mq(){
      width: calc(615/690 *100%);
      margin: -80px -30px 0 auto;
      max-width: 292px;
    }
    &.js-anime{
      // opacity: 0;
      // transform: translateX(100%);
      // transition: .9s cubic-bezier(.36, .1, .16, 1);
      &.on{
        animation: serviceLead 1.2s forwards cubic-bezier(.36, .1, .16, 1);
        // opacity: 1;
        // transform: translateX(0);
      }
    }
  }
}

.index{
  margin-bottom: 120px;
  @include mq(){margin-bottom: 60px;}
  &-list{
    display: flex;
    flex-wrap: wrap;
    @include mq(){
      flex-direction: column;
    }
  }
  &-item{
    margin-right: 20px;
    transition: .6s cubic-bezier(.36, .1, .16, 1);
    &:nth-of-type(1){margin: 0 20px 75px auto;}
    &:nth-of-type(2){
      margin:0 auto 75px 20px; 
      transition-delay: 0.2s;
    }
    &:nth-of-type(3){
      margin: 0 auto 0 0;
    }
    &:nth-of-type(4){
      margin: 0 auto;
      transition-delay: 0.2s;
    }
    &:nth-of-type(5){
      margin: 0 0 0 auto;
      transition-delay: 0.4s;
    }
    &:nth-of-type(-n+2){
      width: calc( ( 80% - 40px ) / 2);
    }
    &:nth-of-type(n+3){
      width: calc( ( 100% - 40px ) / 3 );
    } 
    @include mq(xl){
      &:nth-of-type(1),
      &:nth-of-type(3){margin: 0 20px 75px auto;}
      &:nth-of-type(2),
      &:nth-of-type(4){margin:0 auto 75px 20px;}
      &:nth-of-type(5){
        margin: 0 auto 0 0;
        transition-delay: 0s;
      }
      &:nth-of-type(-n+2){
        width: calc( ( 100% - 40px ) / 2);
      }
      &:nth-of-type(n+3){
        width: calc( ( 100% - 40px ) / 2);
      } 
    }
    @include mq(){
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5){
      width: 100%;
      margin: 0 auto 65px;
      transition-delay: 0s;
      }
      &:nth-of-type(5){
        margin-bottom: 0;
      }
    }
    &.js-anime{
      opacity: 0;
      
      transform: scale(1.1);
      &.on{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &-contents{
    max-width: 322px;
    padding-bottom: 25px;
    margin: 0 auto;
    @include mq(){
      max-width: 315px;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    > dt{
      display: flex;
      align-items: center;
      padding-bottom: 25px;
      @include mq(){
        padding-bottom: 10px;
      }
      div{
        margin-right: 15px;
        height: 70px;
        display: flex;
        align-items: center;
        img{max-width: 85%;}
        @include mq(){
          margin-right: 5px;
          img{max-width: 90%;}
        }
      }
      dl{
        dt{
          font-family: $fw;
          @include fz(18);
          letter-spacing: 0;
          color: $c-base;
          font-weight: 600;
          line-height: 1.333;
        }
        dd{
          @include fz(15);
          letter-spacing: 0;
          line-height: 2;
          color: $c-b;
          font-weight: 700;
          @include mq(){
            @include fz(14);
            font-weight: 400;
            letter-spacing: 0.04em;
            line-height: 1.53;
          }
        }
      
      }

    }
    > dd{
      @include fz(15);
      color: $c-b;
      line-height: 1.8;
      @include mq(){
        @include fz(14);
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1.6;
      }
    }
  }
  &-btn{
    display: flex;
    justify-content: flex-start;
    max-width: 322px;
    margin: 0 auto;
    @include mq(){
      justify-content: center;
      .button-wp{
        @include fz(15);
      }
    }
    
  }
}

.project{
  padding: 90px 0 100px;
  background: #efefef;
  @include mq(){
    padding: 48px 0 60px;
  }
  .inner-1100{
    display: flex;
    justify-content: space-between;
    @include mq(){
      padding: 0 20px;
    }
  }
  h2{
    color: $c-s;
    font-family: $fw;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    @include fz(80);
    writing-mode: vertical-rl;
    white-space: nowrap;
    margin-right: 30px;
    @include mq(){
      @include fz(30);
      margin: -35px 15px 0 -10px;
      padding-right: 5px;
    }
    &.js-anime{
      transform: translateX(-100%);
      opacity: 0;
      transition: .9s cubic-bezier(.36, .1, .16, 1);
      &.on{
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  &-contents{
    max-width: 800px;
    h3{
      @include fz(18);
      font-weight: 700;
      text-align: center;
      line-height: 1.5;
      padding-bottom: 45px;
      @include mq(){
        padding-bottom: 20px;
      }
      &.js-anime{
        transform: translateY(30px);
        opacity: 0;
        transition: .9s cubic-bezier(.36, .1, .16, 1);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
    } 
  }
  &-step{
    counter-reset: step 0;
    li{
      background: $c-w;
      position: relative;
      margin-bottom: 40px;
      // padding: 25px 20px 25px 60px;
      // @include mq(){
      //   padding: 15px 10px 15px 20px;
      // }
      &::after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: $c-s transparent transparent transparent;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        @include mq(){
          bottom: -23px;
        }
      }
      &::before{
        counter-increment: step 1;
        content: counter(step) " ";
        font-family: $fw;
        font-weight: 600;
        @include fz(30);
        color: $c-w;
        background: $c-s;
        width: 46px;
        height: 46px;
        position: absolute;
        top: -10px;
        left: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        @include mq(){
          @include fz(20);
          width: 29px;
          height: 29px;
          
        }
      }
      &:last-of-type{
        &::after{content: none;}
      }
      dl{
        .ac-head{
          color: $c-s;
          font-weight: 700;
          line-height: 1.5;
          @include fz(18);
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          // padding: 0 10px;
          padding: 25px 20px 25px 70px;
          transition: .4s cubic-bezier(.36, .1, .16, 1);
          @include mq(){
            @include fz(14);
            padding: 15px 20px 15px 30px;
          }

          // アコーディオンの + - アイコン
          span{
            display: inline-block;
            border: solid 2px $c-s;
            width: 24px;
            height: 24px;
            position: relative;
            transition: .4s cubic-bezier(.36, .1, .16, 1);
            @include mq(){
              border: solid 1px $c-s;
            }
            &::after,
            &::before{
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              width: 12px;
              height: 2px;
              background: $c-s;
              transition: .4s cubic-bezier(.36, .1, .16, 1);
              @include mq(){
                width: 9px;
              }
            }
            &::after{
              // transition: .1s cubic-bezier(.36, .1, .16, 1);
              transform: translate(-50%,-50%) rotate(90deg);
            }
            @include mq(){
              width: 18px;
              height: 18px;
            }
          }
          &.open{
              span{
              &::after,
              &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 12px;
                height: 2px;
                background: $c-s;
                @include mq(){
                  width: 9px;
                }
              }
              &::after{
                transform: translate(-50%,-50%) rotate(0deg);
              }
            
            }
            
          }

        }
        .ac-contents{
          display: none;
          // padding: 15px 10px 0;
          padding: 0 20px 35px 70px;
          // @include mq(){
          //   padding: 15px 10px 15px 20px;
          // }
          line-height: 2.077;
          @include fz(13);
          @include mq(){
            @include fz(11);
            padding: 0 18px 25px 30px;
          }
        
        }
      }
      &.js-anime{
        transform: translateY(30px);
        opacity: 0;
        transition: .9s cubic-bezier(.36, .1, .16, 1);
        &.on{
          opacity: 1;
          transform: translateY(0);
        }
      }
      // @include mq(pc){
      //   &:hover{
      //     &::before{
      //       background: $c-p;
      //     }
      //     dl .ac-head{
      //       color: $c-p;
      //       span{ 
      //         border: solid 2px $c-p;
      //         &::before,
      //         &::after{
      //           background: $c-p;
      //         }
      //       }
      //     }
      //   }
      // }
    }
    @include mq(pc){
      dl .ac-head:hover,
      dl .ac-head.open:hover{
        color: $c-p;
        span{ 
          border: solid 2px $c-p;
          &::before,
          &::after{
            background: $c-p;
          }
        }
      }
    }
  }
  &-note{
    p{
      @include fz(15);
      line-height: 2;
      @include mq(){
        @include fz(14);
      }
      &.pb30{
        padding-bottom: 30px;
        line-height: 1.8607;
      }
    }
    &.js-anime{
      transform: translateY(30px);
      opacity: 0;
      transition: .9s cubic-bezier(.36, .1, .16, 1);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

}

// .link{
//   &-btn{
//     .js-anime-loop{
    
//     }
//   }
// }




}