@import "../setting/config.scss";
@import "../layout/animation";

/*
  top
---------------------------------------------- */
.top{
.mv{
    position: relative;
    text-align: center;
    &-bg{
        position: relative;
        z-index: 1;
        display: inline-block;
        @include mq(){
            padding-top: 18%;
            padding-bottom: 35px;
        }
        img{
            margin: -80px auto 0;
            @include mq(){
                margin: 0 auto;
                transform: scale(1.2);
            }
        }
        img.mask{
            position: absolute;
            top: 0;
            left: 0;
            transition: 3s cubic-bezier(.36, .1, .16, 1);
            opacity: 1;
        }
        .mv-circle{
            display: block;
            border-radius: 50%;
            position: absolute;
            z-index: -3;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:nth-of-type(1){
                width: 48px;
                height: 48px;
                background: #a5399d;
                transition: .6s .4s cubic-bezier(.36, .1, .16, 1);
                top: 80%;
                @include mq(){
                    width: 15px;
                    height: 15px;
                }
            }
            &:nth-of-type(2){
                top: 65%;
                width: 125px;
                height: 125px;
                background: #9b40a6;
                transition: .6s .6s cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    width: 36px;
                    height: 36px;
                }
            }
            &:nth-of-type(3){
                top: 30%;
                width: 56px;
                height: 56px;
                background: #654dc4;
                transition: .6s .8s cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    width: 18px;
                    height: 18px;
                }
            }
            &:nth-of-type(4){
                width: 150px;
                height: 150px;
                background: #593fbf;
                transition: .6s .5s cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    width: 65px;
                    height: 65px;
                }
            }
        }
        &.js-anime{
            &.on{
                img.mask{
                    opacity: 0;
                }
                .mv-circle{
                    opacity: 1;
                    &:nth-of-type(1){
                        top: 30%;
                        left: 112%;
                        // left: calc(100% + 105px);
                        @include mq(){top: 85%;left: 99%;}
                    }
                    &:nth-of-type(2){
                        top: 25%;
                        left: 95%;
                        // left: calc(100% - 40px);
                        @include mq(){left: 94%;top: 32%;}
                    }
                    &:nth-of-type(3){
                        top: 60%;
                        left: 0%;
                        @include mq(){left: 2%;top: 65%;}
                    }
                    &:nth-of-type(4){
                        top: 105%;
                        left: -3%;
                        @include mq(){left: 42;top: 110%;}
                    }
                }   
            }
        }
    }
    &-contents{
        position: absolute;
        z-index: 2;
        top: 42%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include mq(){
            width: 100%;
            top: 50%;
        }
    }
    &-logo{
        margin-bottom: 50px;
        @include mq(){
            max-width: calc(331/750 *100%);
            width: 100%;
            margin: 0 auto 22px;
        }

        &.js-anime{
            opacity: 0;
            transition: .7s .5s cubic-bezier(.36, .1, .16, 1);
            // filter: blur(5px);
            transform: scale(0.8);
            
            &.on{
                opacity: 1;
                // filter: blur(0px);
                transform: scale(1);
            }
        }
    }
    &-catch{
        color: $c-w;
        font-family: $fw;
        font-weight: 500;
        @include fz(20);
        line-height: 1.5;
        letter-spacing: 0.04em;
        overflow: hidden;
        @include mq(){
            @include fz(13);
        }
        &.js-anime{
                span{
                    display: inline-block;
                    opacity: 0;
                //     transition: .6s .6s cubic-bezier(.36, .1, .16, 1);
                //     transform: translateY(10px) scale(1.05);
                //     &:nth-of-type(2){transition-delay: .9s;}
                //     &:nth-of-type(3){transition-delay: 1.2s;}
                //     &:nth-of-type(4){transition-delay: 1.5s;}
                }
            &.on{
                span{
                    // opacity: 1;
                    // transform: translateY(0) scale(1);
                    animation: mvCatch 1s forwards cubic-bezier(.36, .1, .16, 1);
                    &:nth-of-type(2){
                        animation: mvCatch 1s .3s forwards cubic-bezier(.36, .1, .16, 1);
                    }
                    &:nth-of-type(3){
                        animation: mvCatch 1s .6s forwards cubic-bezier(.36, .1, .16, 1);
                    }
                    &:nth-of-type(4){
                        animation: mvCatch 1s .9s forwards cubic-bezier(.36, .1, .16, 1);
                    }
                }
            }
        }
    }
    &-side{
        @include fz(11);
        position: absolute;
        top: 30px;
        left: 24px;
        writing-mode: vertical-rl;
        letter-spacing: 0.08em;
        z-index: 1;
        @include mq(){
            top: 12px;
            left: 8px;
            @include fz(9);
            font-weight: 300;
        }
        span{
            overflow: hidden;
            position: relative;
            &::before,&::after{overflow: hidden;}
            &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 60px;
                background: lightgray;
                top: 13px;
                left: 5px;
            }
            &::after{
                content: "";
                position: absolute;
                width: 1px;
                height: 0px;
                background: linear-gradient(46deg, rgba(100,75,209,1) 0%, rgba(141,83,196,1) 100%);
                top: 13px;
                left: 5px;
                animation: scroll infinite 1.7s 1s cubic-bezier(.36, .1, .16, 1);
                @include mq(){background: $c-b;}
            }
        }
        &.js-anime{
                opacity: 0;
                transition: .6s .9s cubic-bezier(.36, .1, .16, 1);
                transform: translateX(-100%);
            &.on{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.decoration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    &-parts{
        position: relative;
        height: 610px;
        @include mq(){
            height: auto;
            display: block;
            width: 100%;
            padding-top: 120%;
        }
    }
    &-cross{
        width: 100%;
        height: 100%;
        span{
            display: block;
            position: absolute;
            // top: 0;
            // left: auto;
            // right: 0;
            z-index: -4;
            width: 16px;
            height: 16px;
            background: url(#{$imgDir}top_mv03.png) no-repeat center center /contain;
            @include mq(){
                width: 7px;
                height: 7px;
            }
            &.js-anime{
                // opacity: 0;
                // transition: .6s 1.5s cubic-bezier(.36, .1, .16, 1);
                // @media all and (-ms-high-contrast: none) {transition: 0s 1.5s;}
                &.on{
                    animation: cross01 2.1s forwards cubic-bezier(.36, .1, .16, 1);
                }
            }
            &:nth-of-type(1){
                right: 20%;
                top: 3%;
                @include mq(){
                    right: 50%;
                    top: 10%;
                }
            }
            &:nth-of-type(2){
                top: 42%;
                right: 12%;
                animation: cross01 2.6s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 47%;
                    right: 0%;
                }
            }
            &:nth-of-type(3){
                top: 77%;
                right: 18%;
                animation: cross01 2.4s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 87%;
                    right: 15%;
                }
            }
            &:nth-of-type(4){
                top: 16%;
                left: 10%;
                animation: cross01 2.5s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 6%;
                    left: 20%;
                }
            }
            &:nth-of-type(5){
                top: 73%;
                left: 24%;
                animation: cross01 2.3s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 65%;
                    left: 4%;
                }
            }
            &:nth-of-type(6){
                top: 75%;
                left: 5%;
                animation: cross01 2.6s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 93%;
                    left: 20%;
                }
            }
        }
    
    }
    &-crossb{
        span{
            display: block;
            position: absolute;
            width: 20px;
            height: 18px;
            background: url(#{$imgDir}top_mv04.png) no-repeat center center /contain;
            z-index: -5;
            @include mq(){
                width: 10px;
                height: 9px;
            }
            &.js-anime{
                // transition: .6s 2s cubic-bezier(.36, .1, .16, 1);
                // @media all and (-ms-high-contrast: none) {transition: 0s 2s;}
                &.on{
                    animation: cross02 2.6s forwards cubic-bezier(.36, .1, .16, 1);
                }
            }
            &:nth-of-type(1){
                top: 2%;
                right: 12%;
                @include mq(){
                    top: 7%;
                    right: 16%;
                }
            }
            &:nth-of-type(2){
                top: 75%;
                right: 7%;
                animation: cross02 2.8s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 35%;
                    right: 3%;
                }
            }
            &:nth-of-type(3){
                top: 90%;
                left: 85%;
                animation: cross02 3.2s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 80%;
                    left: 85%;
                }
            }
            &:nth-of-type(4){
                top: 85%;
                left: 15%;
                animation: cross02 2.9s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 88%;
                    left: 40%;
                }
            }
            &:nth-of-type(5){
                top: 45%;
                left: 5%;
                animation: cross02 3.3s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 45%;
                    left: 0%;
                }
            }
            &:nth-of-type(6){
                top: 6%;
                left: 18%;
                animation: cross02 3.1s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    top: 12%;
                    left: 12%;
                }
            }
        }
    
    }

}

.about{
    margin: -50px 0 120px;
    @include mq(){margin: 0px 0 74px;}
    .inner-1500{
        text-align: right;
    }
    &-image{
        margin-left: auto;
        position: relative;
        overflow: hidden;
        width: calc(940/1500 *100%);
        @include mq(){
            width: calc(674/750 *100%);
        }
        h2{
            position: absolute;
            width: 100%;
            height: 101%;
            z-index: 2;
            right: -1px;
            top: -1px;
            width: calc(100% + 5px);
            // @include mq(lg){font-size: 12vw;}
            // @include mq(){
            //     right: -5px;
            //     letter-spacing: 0;
            // }
            &.js-anime{
                opacity: 0;
                right: -50%;
                transition: .9s .4s cubic-bezier(.36, .1, .16, 1);
                &.on{
                    opacity: 1;
                    right: -1px;
                    @include mq(){
                        right: -5px;
                    }
                }
            }
        }
        > div{
            display: inline-block;
            position: relative;
            overflow: hidden;
            &::before,
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 200%;
                background: linear-gradient(46deg, rgba(100,75,209,1) 0%, rgba(141,83,196,1) 100%);
                z-index: 3;
                opacity: 0.5;
                transition: .8s .6s cubic-bezier(.36, .1, .16, 1);
            }
            &::before{
                transition-delay: 0.3s;
                transform: translateX(-110%);
            }
            &::after{
                width: 100%;
                height: 100%;
                background: linear-gradient(46deg, rgba(90,60,152,1) 0%, rgba(238,23,112,1) 100%);
                opacity: 0;
                z-index: 4;
                transform: translateY(-100%);
                transition-delay: 0.6s;
            }
            img{
                width: 100%;
                margin-left: auto;
                display: block;
                z-index: 1;
                position: relative;
                opacity: 0;
                transition: .9s .3s cubic-bezier(.36, .1, .16, 1);
                transform: translateY(40px);
            }
            &.js-anime{
                &.on{
                    &::before{
                        transform: translateX(100%);
                    }
                    img{
                        opacity: 1;
                        transform: translateY(0);
                    }
                    &::after{
                        transform: translateY(110%);
                        opacity: 0.5;
                    }
                }
            }
        }
    }  
    &-contents{
        // max-width: 580px;
        // width: 100%;
        width: calc(650/1300 *100%);
        text-align: left;
        z-index: 1;
        padding: 40px 45px 0px calc(120/1300 *100%);
        position: relative;
        margin-top: calc(-168/1300 *100%);

        background: $c-w;
        @include mq(){
            width: calc(616/750 *100%);
            padding: 0 0 0;
            // margin: calc(-30/750 *100%) auto 0;
            margin: -30px auto 0;
        }
        &::before{
            content: "";
            position: absolute;
            background: $c-w;
            width: calc(290/650 *100%);
            height: 166px;
            right: 0;
            top: 0;
            @include mq(){
                width: calc(568/616 *100%);
                height: 26px;
                // height: calc(30/616 *100%);
                left: 0;
                right: none;
            }
        }
    }
    &-catch,
    &-text{
        position: relative;
        z-index: 5;
        &.js-anime{
            transform: translateY(30px);
            opacity: 0;
            transition: .3s cubic-bezier(.36, .1, .16, 1);
            &.on{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    &-catch{
        padding-bottom: 25px;
        @include mq(){
            // max-width: 300px;
            // background: $c-w;
            padding: 25px 0 15px 0;
            width: calc(477/617 *100%);
        }
    }
    &-text{
        line-height: 2;
        letter-spacing: 0.04em;
        margin-bottom: 40px;
        @include mq(){
            @include fz(14);
            margin-bottom: 25px;
            // background: $c-w;
        }
        &.js-anime{transition: .3s .2s cubic-bezier(.36, .1, .16, 1);}
    }
    &-btn{
        margin-left: calc(120/1300 *100%);
        display: flex;
        @include mq(){
            display: flex;
            justify-content: center;
            margin-left: 0;
            // margin-right: -37px;
        }
    }

}

.works{
    position: relative;
    margin: 0 0 210px;
    @include mq(){
        margin: 0 0 105px;
    }
    &::before{
        content: "";
        background: url(#{$imgDir}top_bg01.png) no-repeat top right /contain;
        position: absolute;
        width: 100%;
        height: 611px;
        z-index: -1;
        top: 0;
        right: -45px;
        @include mq(){
            background: url(#{$imgDir}top_bg01-sp.png) no-repeat center center /contain;
            height: 1414px;
            top: 7%;
            right: 0;
        }
    }
    &.js-anime-loop{
        &::before{
            // transition: 5s cubic-bezier(.36, .1, .16, 1);
            opacity: 0;
            // transform: translateY(100%);
        }
        &.on{
            &::before{
                // opacity: 1;
                // transform: translateY(0);
                animation: topWorks 5s forwards cubic-bezier(.36, .1, .16, 1);
                @include mq(){
                    animation: topWorks 8s forwards cubic-bezier(.36, .1, .16, 1);
                }
            }
        }
    }
    ul.works-list{
        li{
            width: calc((100% - 70px)/ 3);
            margin: 0 35px 50px 0;
            &:nth-child(3n){
                margin: 0 0 50px 0;
                @include mq(){
                    margin: 0 auto 30px;
                }
            }
            @include mq(){
                width: 100%;
                margin: 0 auto 25px;
                text-align: center;
                max-width: 364px;
            }
            // a > div{
            //     max-width:364px;
            //     max-height: 210px;
            //     width: 100%;
            //     height: 100%;
            //     overflow: hidden;
            //     position: relative;
            //     padding-top: 57.69%;
            //     margin-bottom: 5px;
            //     img{
            //         width: 100%;
            //         position: absolute;
            //         top: 50%;
            //         left: 50%;
            //         transform: translate(-50%, -50%);
            //     }
            // }
        }
    }
    .works-btn{
        display: flex;
        justify-content: center;
    }
}

.service{
    position: relative;
    margin:0 0 210px;
    @include mq(){margin:0 0 110px;}
    &::before{
        content: "";
        position: absolute;
        background: #efefef;
        width: 100%;
        // max-width: 1800px;
        height: 325px;
        z-index: -1;
        top: -95px;
        left: 50%;
        transform: translateX(-50%);
        @include mq(){
            top: -50px;
            height: 781px;
            height: calc(715/750 *100%);
        }
    }
    .multi-title{
        h2{color: $c-base;}
        @include mq(){
            margin-bottom: 35px;
        }
    } 
    .inner-1500{
        display: flex;
        align-items: flex-end;
        // overflow: hidden;
        @include mq(xll){align-items: center;}
        @include mq(){
            flex-direction: column-reverse;
        }
    }
    &-image{
        width: 51%;
        position: relative;
        margin-right: 30px;
        @include mq(xll){
            width: 41%;
            // margin-right: ;
        }
        @include mq(){
            width: 100%;
            // margin-right: 65px;
        }
        &::before{
            content: "";
            position: absolute;
            background: $c-s;
            width: 100%;
            max-width: 632px;
            height: 204px;
            z-index: -1;
            bottom: -48px;
            left: -180px;
            opacity: 0;
            transition: .6s .8s cubic-bezier(.36, .1, .16, 1);
            @include mq(){
                left: -20px;
                bottom: -25px;
                height: 100%;
                width: calc(650/750 *100%);
            }
        }
        > div{
            position: relative;
            overflow: hidden;
            @include mq(){
                width: calc(650/750 *100%);
            }
            &::before,
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 200%;
                background: linear-gradient(46deg, rgba(100,75,209,1) 0%, rgba(141,83,196,1) 100%);
                z-index: 3;
                opacity: 0.5;
                transition: .6s cubic-bezier(.36, .1, .16, 1);
            }
            &::before{
                transition-delay: 0.3s;
            }
            &::after{
                width: 100%;
                height: 100%;
                background: $c-w;
                opacity: 0.5;
                z-index: 4;
                transform: skew(0deg);
                
            }
            img{
                z-index: 1;
                position: relative;
            }
        }
        &.js-anime{
            &.on{
                &::before{
                    left: -63px;
                    opacity: 1;
                    @include mq(){
                        left: -20px;
                        bottom: -25px;
                    }
                }
                >div{
                    &::before{
                    transform: translateX(-100%);
                    }
                    &::after{
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
    &-contents{
        width: 49%;
        padding-right: 50px;
        @include mq(){
            width: 100%;
            margin-bottom: 34px;
            padding-right: 0px;
        }
    }
    &-icons{
        @include mq(){
            li dl dt img{
                max-width: 79%;
            }
        }
        @include mq(xs){
            padding: 0 20px;
            li dl dd:first-of-type{
                @include fz(12);
            }
            
        }
    }
    &-btn{
        display: flex;
        justify-content: center;
        
    }
}

.recruit{
    margin:0 0 158px;
    @include mq(){
        margin:0 0 80px;
    }
    .inner-1500{
        position: relative;
    }
    .multi-title{
        // padding: 75px 0 0 calc(215/1300 *100%);
        margin-bottom: calc(140/1500 *100%);
        margin-left: auto;
        padding: 75px 0 0 55px;
        max-width: 1140px;
        h2,p{color: $c-w;}
        p::before{background: $c-w;}
        @include mq(){
            h2{@include fz(50)}
            padding: 30px 0 0 30px;
            // margin-bottom: calc(110/750 *100%);

            position: absolute;
        }
    }
    &-image{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;
        @include mq(){
            // left: 0;
            position: relative;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            background: linear-gradient(46deg, rgba(100,75,209,1) 0%, rgba(141,83,196,1) 100%);
            z-index: 3;
            opacity: 0.5;
            transition: .6s cubic-bezier(.36, .1, .16, 1);
        }
        &::before{
            transition-delay: 0.3s;
            transition: 1.4s cubic-bezier(.36, .1, .16, 1);
        }
        &::after{
            width: 100%;
            height: 100%;
            background: $c-w;
            opacity: 1;
            z-index: 4;
            transform: skew(0deg);
        }
        img{
            z-index: 1;
            position: relative;
            @include mq(){
                min-height: 177px;
                object-fit: cover;
                font-family: 'object-fit: cover;'; /*IE対策*/
            }
        }
        &.js-anime{
            &.on{
                &::before{
                    transform: translateX(100%);
                }
                &::after{
                    transform: translateX(-100%);
                }
            }
        }
    }
    &-contents{
        background: $c-w;
        max-width: 580px;
        width: 100%;
        // margin-top: -100px;
        p{
            padding: 35px 28px 30px 100px;
        }
        @include mq(){
            // margin: 0 auto;
            margin:-20px auto 0;
            width: calc(650/750 *100%);
            p{padding: 30px 25px;}
        }
        &.js-anime{
            p{
                transform: translateY(30px);
                opacity: 0;
                transition: .3s cubic-bezier(.36, .1, .16, 1);
            }
            &.on{
                p{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    
    }
    &-btn{
        padding-left: 100px;
        @include mq(){
            padding-left: 0;
            text-align: center;
        
        }
    }

}
}