@import "../setting/config.scss";


/*
  works-detail
---------------------------------------------- */
.works-detail{
margin-top: 150px;
@include mq(){margin-top: 0;}
.main{
  margin: 0 0 100px;
  @include mq(){margin: 50px 0 80px;}
  &-title,
  &-image,
  &-contents,
  &-imgl,
  &-imgs,
  &-text{
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-title{
    padding-bottom: 70px;
    @include mq(){padding-bottom: 25px;}
    div{
      @include fz(15);
      font-weight: 300;
      line-height: 1.998;
      letter-spacing: 0.08em;
      color: $c-g;
      padding-bottom: 8px;
      @include mq(){
        @include fz(14);
        line-height: 1.07;
      }
    }
    h1{
      @include fz(24);
      line-height: 1.249;
      letter-spacing: 0.08em;
      font-weight: 400;
      @include mq(){
        @include fz(18);
        line-height: 1.667;
      }
    }
  }
  .inner-1100.image{
    @include mq(){padding: 0;}
  }
  &-image{
    max-width: 1220px;
    // margin: 0 auto;
    // padding: 0 60px 45px;

    // 共通化で追加
    overflow: hidden;
    position: relative;
    padding: 49.090909% 60px 0;
    margin: 0 auto 45px;
    @include mq(){
      // padding:0 0 25px;
      // max-width: none;
      padding: 123.46% 0 0;
      margin: 0 auto 25px;
    }
    img{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // transform: translateX(-50%);
      @include mq(){
        top: 50%;
      }
    }
    &.js-anime{
      transition: .6s  .3s cubic-bezier(.36, .1, .16, 1);
    } 
  }
  &-contents{
    display: flex;
    padding: 0 25px 20px 25px;
    @include mq(){
      flex-direction: column-reverse;
      padding: 0 0 20px;
    }
    p{
      @include fz(15);
      line-height: 2.14;
      max-width: 735px;
      margin-right: 80px;
      word-wrap: break-word;
      word-break: break-all;
      @include mq(){
        @include fz(14);
        line-height: 1.929;
        max-width: none;
        margin-right: 0;
      }
    }
    
    // カテゴリ
    > div{
      @include mq(){padding-bottom: 25px;}
      dl{
        font-weight: 600;
        letter-spacing: 0;
        margin-right: 40px;
        @include mq(){
          display: flex;
          justify-content: space-between;
        }
        dt{
          @include fz(18);
          line-height: 1.665;
          color: #888888;
          margin-bottom: 15px;
          min-width: 150px;
          span{
            margin-right: 5px;
            @include mq(){
              display: inline-block;
            }
          }
          @include mq(){
            line-height: 1.385;
            margin-bottom: 0;
            margin-right: 20px;
            min-width: auto;
          }
        }
        dd{
          display: block;
          position: relative;
          padding-top: 70%;
          @include mq(){
            position: relative;
            padding-top: 0;
          }
          
          > ul{
            @include fz(13);
            line-height: 1.538;
            font-family: $fw;
            margin-right: 40px;
            // column-count: 2;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            height: 100%;
            width: 100%;

            @include mq(){
              @include fz(11);
              line-height: 1.636;
              height: 90px;

              position: relative;
              transform: none;
              height: 100px;
              top: 0;
            }
            li{
              padding: 0 50px 0 12px;
              border-left: 1px solid $c-b;
              @include mq(){
                padding: 0 40px 0 10px;
              }
              &:nth-child(n+6){
                padding: 0 0 0 12px;
                @include mq(){
                  padding: 0 0 0 10px;
                }
              }
            }
          }
        }
      
      }
    }
  }
  &-link{
    padding-left: 30px;
    margin-bottom: 80px;
    @include mq(){
      padding-left: 0;
      margin-bottom: 50px;
    }
    a{
      color: $c-s;
      display: inline-block;
      font-family: $fw;
      @include fz(15);
      line-height: 1.999;
      letter-spacing: 0.08em;
      font-weight: 600;
      padding-right: 20px;
      background: url(#{$imgDir}icon-link01.png) no-repeat center right / 10px 9px;
      transition: .4s cubic-bezier(.36, .1, .16, 1);
      @include mq(){
        @include fz(14);
        line-height: 1.1;
      }
      @include mq(pc){
        &:hover{
          opacity: 0.7;
        }
      }
    }
  
  }
  &-imgl,
  &-imgs{
    margin-bottom: 20px;
    text-align: center;
    @include mq(){
      margin-bottom: 10px;
    }
  }
  &-text{
    p{
      @include fz(15);
      line-height: 2;
      // padding: 0 115px;
      width: calc(860/1100 *100%);
      margin: 0 auto 60px;
      padding-top: 40px;
      word-wrap: break-word;
      word-break: break-all;
      @include mq(){
        @include fz(14);
        line-height: 1.929;
        width: 100%;
        margin: 0 auto 30px;
        padding-top: 25px;
      }
    }
  }
  
  &-imgs{
    background:#f0f0f0;
    padding: 65px 0 55px;
    text-align: center;
    @include mq(){
      padding: 30px 0 32px;

    }
    img{
      max-width: calc(852/1100 *100%);
      @include mq(){
        max-width: calc(670/710 *100%);
      }
    }
  }
}

.member{
  background: #eeeeee;
  padding: 70px 0 100px;
  @include mq(){
    padding: 40px 15px 50px;
  }

  h2{
    @include fz(30);
    line-height: 2.667;
    font-family: $fw;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0;
    padding-bottom: 50px;
    @include mq(){
      @include fz(26);
      line-height: 1.541;
      padding-bottom: 30px;
    }
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: translateY(30px);
      &.on{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &-list{
    max-width: 1500px;
    margin: 0 auto 30px;
    @include mq(){
      margin: 0 auto 15px;
    }
    ul{
      // display: flex;
      // justify-content: center;
      // flex-wrap: wrap;
      max-width: 720px;
      margin: 0 auto;
      padding: 0 50px;
      @include mq(){
        padding: 0;
        max-width: 580px;
        &::after{
          content: "";
          display: block;
          width: 30%;
        }
      }
      &.center{
        text-align: center;
      }
      li{
        display: inline-block;
        margin: 0 10px 30px;
        width: 21%;
        vertical-align: top;
        text-align: center;
        // width: calc((100% - 40px) /4);
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @include mq(){
          margin: 0 6px 20px;
          width: 28%;
        }
        div{
          width: 90px;
          height: 90px;
          display: inline-block;
          margin-bottom: 12px;
          img{
            border-radius: 50%;
            display: block;
          }
          @include mq(){
            width: 55px;
            height: 55px;
          }
        }
        p{
          @include fz(15);
          line-height: 1.333;
          font-family: $fw;
          text-align: center;
          letter-spacing: 0;
          // white-space: nowrap;
          word-break: break-word;
          width: 100%;
          @include mq(){
            @include fz(11);
          }
        }

      }
    }
    &.js-anime{
      ul li{
        opacity: 0;
        transition: .6s cubic-bezier(.36, .1, .16, 1);
        transform: translateY(30px);
        &:nth-of-type(2){transition-delay: 0.1s;}
        &:nth-of-type(3){transition-delay: 0.2s;}
        &:nth-of-type(4){transition-delay: 0.3s;}
        &:nth-of-type(5){transition-delay: 0.4s;}
        &:nth-of-type(6){transition-delay: 0.5s;}
        &:nth-of-type(7){transition-delay: 0.6s;}
        &:nth-of-type(8){transition-delay: 0.7s;}
      }
      &.on{
        ul li{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  &-btn{
    display: flex;
    justify-content: center;
    a{
      cursor: pointer;
    }
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: scale(1.1);
      &.on{
        opacity: 1;
        transform: scale(1);
      }
    }
  }

}

}