@import "../setting/config.scss";


/*
  works
---------------------------------------------- */
.works{
margin-top: 150px;
@include mq(){margin-top: 0;}
.lead{
  margin-bottom: 60px;
  @include mq(){
    margin-top: 45px;
    margin-bottom: 35px;
  }
  .multi-title{
    h1{
      color: $c-s;
    }
    @include mq(){
      margin-bottom: 40px;
    }
  }
}

.main{
  &-head{
    background: #efefef;
    padding: 17px 0 18px;
    max-height: 80px;
    margin-bottom: 80px;
    @include mq(){
      padding: 12px 0 14px;
      max-height: 45px;
      // min-height: 45px;
      margin-bottom: 40px;
    }
  }
  &-category{
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(){
      padding: 0 32px;
    }
    &.js-anime{
      li{
        opacity: 0;
        // transition: .6s cubic-bezier(.36, .1, .16, 1);
        // transform: scale(1.2);
        // &:nth-of-type(2){transition-delay: 0.2s;}
        // &:nth-of-type(3){transition-delay: 0.4s;}
        // &:nth-of-type(4){transition-delay: 0.6s;}
        // &:nth-of-type(5){transition-delay: 0.8s;}
      }
      &.on{
        li{
        // opacity: 1;
        // transform: scale(1);
        animation: categoryItem .6s cubic-bezier(.36, .1, .16, 1) forwards;
          &:nth-of-type(2){animation: categoryItem .6s .2s cubic-bezier(.36, .1, .16, 1) forwards;}
          &:nth-of-type(3){animation: categoryItem .6s .4s cubic-bezier(.36, .1, .16, 1) forwards;}
          &:nth-of-type(4){animation: categoryItem .6s .6s cubic-bezier(.36, .1, .16, 1) forwards;}
          &:nth-of-type(5){animation: categoryItem .6s .8s cubic-bezier(.36, .1, .16, 1) forwards;}
        }
      }
    }
    li{
      margin-right: 20px;
      padding: 10px;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      // transition: .9s cubic-bezier(.36, .1, .16, 1);
      @include mq(pc){
        &:hover{
          opacity: 0.7;
          div{
            color: $c-s;
          }
        }
      }
      @include mq(){
        margin-right: 10px;
        padding: 5px;
      }
      div{
        @include fz(15);
        color: #666666;
        font-weight: 700;
        line-height: 1.733;
        letter-spacing: 0.08em;
        @include mq(){
          @include fz(11);
          line-height: 1.18;
          white-space: nowrap;
        }
      }
      &.active{
        div{
          color: $c-s;
          position: relative;
          
          &::after{
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 12px);
            height: 2px;
            background: $c-s;
            @include mq(){
              width: calc(100% + 10px);
              bottom: -5px;
            }
          }
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  .works-list{
    justify-content: space-between;
    padding: 0 25px;
    // margin: 0 0 25px;
    margin: 0 0 6px;
    @include mq(){
      justify-content: center;
      padding: 0 7px;
      // margin: 0 0 10px;
    }
    li{
      width: calc((100% - 50px) /2);
      margin-right: 25px;
      // more animation
      animation: more .9s cubic-bezier(.36, .1, .16, 1);
      &:nth-of-type(even){
        margin-right: 0;
      }
      @include mq(){
        width: 100%;
        margin: 0 auto 30px;
        &:nth-of-type(even){
          margin: 0 auto 30px;
        }
      }
      &.hide{
        display: none;
      }
      &.js-anime{
        // opacity: 0;
        // transition: .6s cubic-bezier(.36, .1, .16, 1);
        // transform: translateY(30px);
        // animation: stFadein .6s forwards cubic-bezier(.36, .1, .16, 1);
        &.on{
          // opacity: 1;
          // transform: translateY(0);
          animation: stFadein .6s forwards cubic-bezier(.36, .1, .16, 1);
        }
      }
    }
  }
  &-more-btn{
    display: flex;
    justify-content: center;
    @include mq(){
      margin: 0 0 30px;
    }
    .button-wpl{
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    &.js-anime{
      opacity: 0;
      transition: .6s cubic-bezier(.36, .1, .16, 1);
      transform: scale(1.1);
      &.on{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}


.link{
  padding-top: 120px;
  @include mq(){
    padding-top: 50px;
  }
}


}